.accordion-item {
  margin-bottom: 1rem;

  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $gray-100;
    padding: 0.6rem 1rem;
    border: 1px solid $gray-400;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .accordion-content {
    border: 1px solid $gray-400;

    .pretty.p-switch input:checked ~ .state label:after {
      background-color: #248f48 !important;
      left: 1em;
    }
  }
}


