.tab {
  .tab-header {
    display: flex;
    border: 0.1rem solid #9e9e9e;
    -webkit-box-shadow: 0px 0 0.5rem 0 rgba(176,176,176,1);
    -moz-box-shadow: 0 0 0.5rem 0 rgba(176,176,176,1);
    box-shadow: 0 0 0.5rem 0 rgba(176,176,176,1);
    text-align: center;
    overflow: auto;

    > div {
      padding: 1.3rem 3rem 0.7rem;
      cursor: pointer;

      &.active {
        border-bottom: 0.6rem solid #784F0C;
      }
    }
  }

  .tab-content {
    padding: 2rem 0;
  }
}


