<template>
    <div class="position-relative" :style="{ 'width': width, 'height': height }">
        <div class="position-absolute center-x"
             :style="{ 'font-size': fontSize }"
             style="top: -120%"
             v-if="labelTop">
            {{ labelTop }}
        </div>

        <div class="position-absolute center-x"
             :style="{ 'font-size': fontSize }"
             style="top: 110%;"
             v-if="labelBottom">
            {{ labelBottom }}
        </div>

        <div class="position-absolute center-y"
             :style="{ 'font-size': fontSize }"
             style="left: 120%"
             v-if="labelRight">
            {{ labelRight }}
        </div>

        <div class="position-absolute center-y"
             :style="{ 'font-size': fontSize }"
             style="right: 120%"
             v-if="labelLeft">
            {{ labelLeft }}
        </div>

        <svg viewBox="0 0 100 100"
             width="100%"
             height="100%"
             xmlns="http://www.w3.org/2000/svg"
             :class="{'circle-default' : !color}"
             :fill="color ? color : null">
            <circle cx="50%" cy="50%" r="50%" stroke-width="2"/>
        </svg>
    </div>
</template>

<script>
    export default {
    	name: 'circle-component',
	    props: {
		    labelTop: {
			    type: String,
		    },
		    labelBottom: {
			    type: String,
		    },
		    labelRight: {
			    type: String,
		    },
		    labelLeft: {
			    type: String,
		    },
		    width: {
			    type: [Number, String],
			    default: '1.5rem'
		    },
		    height: {
			    type: [Number, String],
			    default: '1.5rem'
		    },
		    fontSize: {
			    type: String,
			    default: '1.2rem'
		    },
            color: {
		    	type: String,
            }
	    },
    }
</script>
