<template>
    <div class="pump d-flex align-items-center">
        <slot></slot>
        <div class="position-relative" :style="{ width: width, height: calculatedHeight }">
            <div class="position-absolute center-x"
                 :style="{ 'font-size': fontSize }"
                 style="top: -30%"
                 v-if="labelTop">
                {{ labelTop }}
            </div>

            <div class="position-absolute center-x"
                 :style="{ 'font-size': fontSize }"
                 style="bottom: -50%;"
                 v-if="labelBottom">
                {{ labelBottom }}
            </div>

            <div class="position-absolute center-y"
                 :style="{ 'font-size': fontSize }"
                 style="left:90%"
                 v-if="labelRight">
                {{ labelRight }}
            </div>

            <div class="position-absolute center-y"
                 :style="{ 'font-size': fontSize }"
                 style="right: 90%"
                 v-if="labelLeft">
                {{ labelLeft }}
            </div>

            <svg class="pump" viewBox="0 0 100 100"
                 width="100%"
                 height="100%"
                 xmlns="http://www.w3.org/2000/svg"
                 :class="fillClass">
                <polygon points="50,50 15,100, 85,100"
                     class="triangle"
                     stroke-width="3"
                     :class="{'stroke-default': !strokeColor}"
                     :stroke="strokeColor ? strokeColor : null"
                />
                <circle cx="50%" cy="50%" r="30%"
                    stroke-width="3"
                    :class="{'stroke-default': !strokeColor}"
                    :stroke="strokeColor ? strokeColor : null"
                />
            </svg>
        </div>
    </div>

</template>

<script>
    export default {
    	name: 'pump-component',
	    props: {
    		labelTop: {
			    type: String,
            },
		    labelBottom: {
			    type: String,
		    },
		    labelRight: {
			    type: String,
		    },
		    labelLeft: {
			    type: String,
		    },
		    width: {
			    type: [Number, String],
			    default: '4rem'
		    },
		    height: {
			    type: [Number, String],
		    },
		    status: {
    			type: String,
			    default: 'on'
		    },
		    fontSize: {
			    type: String,
			    default: '1.2rem'
		    },
		    strokeColor: {
			    type: String
		    }
	    },
	    computed: {
		    fillClass: function() {
			    if (this.status === 'on') {
				    return 'fill-active'
			    }

			    return 'fill-inactive'
		    },
		    calculatedHeight: function() {
	            return this.width;
		    }
	    }
    }
</script>
