<template>
    <div :style="{ width: width, height: calculatedHeight }">
        <svg xmlns="http://www.w3.org/2000/svg"
             viewBox="0 0 90 100"
             width="100%"
             height="100%"
             stroke-width="1"
             :class="fillClass + (!strokeColor ? 'stroke-default': null)"
             :stroke="strokeColor ? strokeColor : null">
            <polygon points="0,0 90,0 65,100, 25,100">
            </polygon>
        </svg>
    </div>
</template>

<script>
	export default {
		name: 'steam-cogulator-component',
		props: {
			width: {
				type: [Number, String],
			},
			height: {
				type: [Number, String],
			},
			status: {
				type: String,
				default: 'on'
			},
			fontSize: {
				type: String,
				default: '30'
			},
			strokeColor: {
				type: String
			}
		},
		computed: {
			fillClass: function() {
				if (this.status === 'on') {
					return 'fill-active '
				}

				return 'fill-inactive '
			},
			calculatedHeight: function() {
				return this.width;
			}
		}
	}
</script>

