<template>
    <div :style="{ 'width': width, 'height': calculatedHeight }">
        <svg stroke="#9e9e9e"
             stroke-width="1"
             xmlns="http://www.w3.org/2000/svg"
             :class="fillClass"
             viewBox="0 0 75 100"
             width="100%"
             height="100%"
        >
            <rect width="15%" height="100%"
                  x="42.5%" y="0"
                  stroke-width="1"
                  :class="{'stroke-default': !strokeColor}"
                  :stroke="strokeColor ? strokeColor : null">
            </rect>
            <ellipse cx="20%" cy="80%" rx="20%" ry="10%"
                 :class="{'stroke-default': !strokeColor}"
                 :stroke="strokeColor ? strokeColor : null"
            />
            <ellipse cx="80%" cy="80%" rx="20%" ry="10%"
                 :class="{'stroke-default': !strokeColor}"
                 :stroke="strokeColor ? strokeColor : null"
            />
        </svg>
    </div>
</template>

<script>
    export default {
    	name: 'stirrer-component',
        props: {
	        width: {
		        type: [Number, String],
		        default: '12rem'
	        },
	        height: {
		        type: [Number, String],
	        },
	        status: {
		        type: String,
		        default: 'on'
	        },
	        strokeColor: {
		        type: String
	        }
        },
	    computed: {
		    fillClass: function() {
			    if (this.status === 'on') {
				    return 'fill-active'
			    }

			    return 'fill-inactive'
		    },
		    calculatedHeight: function() {
			    if (this.height) {
				    return this.height;
			    }

			    return ((parseInt(this.width).toFixed(2) / 75) * 100) + 'rem'
		    }
	    }
    }
</script>
