<template>
    <div :style="{ 'width': width, 'height': height }">
        <slot></slot>
        <svg width="100%" height="100%">
            <text x="10" y="8%" :fill="fontColor" :font-size="fontSize">100%</text>
            <text x="10" :y="(27 + parseInt(textOffset)) + '%'" :fill="fontColor" :font-size="fontSize">80%</text>
            <text x="10" :y="(46 + parseInt(textOffset)) + '%'" :fill="fontColor" :font-size="fontSize">60%</text>
            <text x="10" :y="(64 + parseInt(textOffset)) + '%'" :fill="fontColor" :font-size="fontSize">40%</text>
            <text x="10" :y="(83 + parseInt(textOffset)) + '%'" :fill="fontColor" :font-size="fontSize">20%</text>

            <line x1="18%" y1="81.25%"
                  x2="25%" y2="81.25%"
                  stroke-width="2"
                  :class="{'stroke-default': !strokeColor}"
                  :stroke="strokeColor ? strokeColor : null">
            </line>

            <line x1="18%" y1="62.5%"
                  x2="25%" y2="62.5%"
                  stroke-width="2"
                  :class="{'stroke-default': !strokeColor}"
                  :stroke="strokeColor ? strokeColor : null">
            </line>

            <line x1="18%" y1="43.75%"
                  x2="25%" y2="43.75%"
                  stroke-width="2"
                  :class="{'stroke-default': !strokeColor}"
                  :stroke="strokeColor ? strokeColor : null">
            </line>

            <line x1="18%" y1="25%"
                  x2="25%" y2="25%"
                  stroke-width="2"
                  :class="{'line-default': !strokeColor}"
                  :stroke="strokeColor ? strokeColor : null">
            </line>

            <line x1="18%" y1="6.25%"
                  x2="25%" y2="6.25%"
                  stroke-width="2"
                  :class="{'stroke-default': !strokeColor}"
                  :stroke="strokeColor ? strokeColor : null">
            </line>

            <rect width="75%" height="93.75%"
                  x="25%" y="6.25%"
                  stroke-width="1"
                  :class="{'stroke-default': !strokeColor}"
                  :stroke="strokeColor ? strokeColor : null"
                  class="bg-tank">
            </rect>

            <rect width="75%" height="93.75%"
                  x="25%" :y="level"
                  stroke-width="1"
                  :class="{'stroke-default': !strokeColor}"
                  :stroke="strokeColor ? strokeColor : null"
                  class="bg-tank-level">
            </rect>

            <rect :class="backgroundClass + (!strokeColor ? 'stroke-default': null)"
                  width="4.16%" height="86.75%"
                  x="60.416%" y="6.25%"
                  stroke-width="1">
            </rect>

            <ellipse :class="backgroundClass + (!strokeColor ? 'stroke-default': null)"
                 cx="52.983%" cy="90%" rx="7.5%" ry="3.125%"/>
            <ellipse :class="backgroundClass + (!strokeColor ? 'stroke-default': null)"
                 cx="72%" cy="90%" rx="7.5%" ry="3.125%" />
        </svg>
    </div>
</template>

<script>
    export default {
    	name: 'tank-component',
	    props: {
    		value: {
    		    type: [Number, String],
                default: 100
            },
		    width: {
			    type: [Number, String],
			    default: '12rem'
		    },
		    height: {
			    type: [Number, String],
			    default: '16rem'
		    },
		    fontSize: {
			    type: Number,
			    default: 8
		    },
		    fontColor: {
			    type: String,
			    default: 'ececec'
		    },
		    status: {
			    type: String,
			    default: 'off'
		    },
		    strokeColor: {
			    type: String
		    },
            textOffset: {
	            default: 0
            }
	    },
	    computed: {
		    backgroundClass: function() {
			    if (this.status === 'on') {
				    return 'fill-active '
			    }

			    return 'fill-inactive '
		    },
		    level: function() {
                return 100 - (this.value) / 100 * (100 - 6.25) + '%'
		    }
	    }
    }
</script>
