<template>
    <div class="horizontal-valve">
        <slot></slot>
        <div class="position-relative font-weight-normal" :style="{ width: width, height: '1.6rem' }">
            <div class="position-absolute"
                 :class="{ 'center-x': position == 'center'}"
                 :style="[{'font-size': fontSize}, position == 'right' ? {'right': '-10%'} : {}, position == 'left' ? {'left': '-15%'} : {}]"
                 style="top: -80%"
                 v-if="labelTop"
                 v-html="labelTop">
            </div>

            <div class="position-absolute"
                 :class="{ 'center-x': position == 'center'}"
                 :style="[{'font-size': fontSize}, position == 'right' ? {'right': '-10%'} : {}, position == 'left' ? {'left': '-5%'} : {}]"
                 style="bottom: -110%;"
                 v-if="labelBottom"
                 v-html="labelBottom">
            </div>

            <div class="position-absolute center-y"
                 :style="{ 'font-size': fontSize }"
                 style="left:90%"
                 v-if="labelRight"
                 v-html="labelRight">
            </div>

            <div class="position-absolute center-y"
                 :style="{ 'font-size': fontSize }"
                 style="right: 0"
                 v-if="labelLeft"
                 v-html="labelLeft"></div>

            <svg v-if="position == 'center'" style="position: absolute; margin-top: 0.2rem; width: 3rem; left: 50%; transform: translateX(-50%)">
                <polygon points="14,8 0,0, 0,16"
                     :stroke="strokeColor ? strokeColor : null"
                     stroke-width="1"
                     class="triangle"
                     :class="fillClass + (!strokeColor ? 'stroke-default': null)"
                />
                <polygon points="14,8 28,0, 28,16"
                     :stroke="strokeColor ? strokeColor : null"
                     stroke-width="1"
                     class="triangle"
                     :class="fillClass + (!strokeColor ? 'stroke-default': null)"
                />
            </svg>

            <svg v-if="position == 'left'" style="position: absolute; margin-top: 0.2rem; width: 3rem; left: 0%; transform: translateX(-50%)">
                <polygon points="14,8 0,0, 0,16"
                     :stroke="strokeColor ? strokeColor : null"
                     stroke-width="1"
                     class="triangle"
                     :class="fillClass + (!strokeColor ? 'stroke-default': null)"
                />
                <polygon points="14,8 28,0, 28,16"
                     :stroke="strokeColor ? strokeColor : null"
                     stroke-width="1"
                     class="triangle"
                     :class="fillClass + (!strokeColor ? 'stroke-default': null)"
                />
            </svg>
            <svg v-if="position == 'right'" style="position: absolute; margin-top: 0.2rem; width: 3rem; left: 100%; transform: translateX(-50%)">
                <polygon points="14,8 0,0, 0,16"
                     :stroke="strokeColor ? strokeColor : null"
                     stroke-width="1"
                     class="triangle"
                     :class="fillClass + (!strokeColor ? 'stroke-default': null)"
                />
                <polygon points="14,8 28,0, 28,16"
                     :stroke="strokeColor ? strokeColor : null"
                     stroke-width="1"
                     class="triangle"
                     :class="fillClass + (!strokeColor ? 'stroke-default': null)"
                />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                <rect :width="parseFloat(width) * 10"
                      height="3"
                      x="0"
                      y="6.5"
                      :class="{'rect-default' : !lineColor}"
                      :fill="lineColor ? lineColor : null">
                </rect>
            </svg>
        </div>
    </div>
</template>

<script>
    export default {
    	name: 'two-way-horizontal-valve-component',
        props: {
	        labelTop: {
		        type: String,
	        },
	        labelBottom: {
		        type: String,
	        },
	        labelRight: {
		        type: String,
	        },
	        labelLeft: {
		        type: String,
	        },
	        width: {
		        type: [Number, String],
		        default: '8rem'
	        },
	        height: {
		        type: [Number, String],
	        },
	        status: {
		        type: String,
		        default: 'on'
	        },
	        fontSize: {
		        type: String,
		        default: '1.2rem'
	        },
            position: {
	        	type: String,
                default: 'center'
            },
	        lineColor: {
		        type: String,
	        },
	        strokeColor: {
		        type: String
	        }
        },
	    computed: {
		    fillClass: function() {
			    if (this.status === 'on') {
				    return 'fill-active '
			    }

			    return 'fill-inactive '
		    },
	    }
    }
</script>
