<template>
    <div class="vertical-valve">
        <slot></slot>
        <div class="position-relative font-weight-normal" :style="{ width: width, height: calculatedHeight }">
            <div class="position-absolute center-x"
                 :style="{ 'font-size': fontSize }"
                 style="top: -30%"
                 v-if="labelTop">
                {{ labelTop }}
            </div>

            <div class="position-absolute center-x"
                 :style="{ 'font-size': fontSize }"
                 style="bottom: -50%;"
                 v-if="labelBottom">
                {{ labelBottom }}
            </div>

            <div class="position-absolute center-y"
                 :style="{ 'font-size': fontSize }"
                 style="left:110%"
                 v-if="labelRight">
                {{ labelRight }}
            </div>

            <div class="position-absolute center-y"
                 :style="{ 'font-size': fontSize }"
                 style="right: 130%"
                 v-if="labelLeft">
                {{ labelLeft }}
            </div>

            <svg width="100%" height="100%" viewBox="0 0 45 80" xmlns="http://www.w3.org/2000/svg">
                <line x1="45%" y1="0"
                      x2="45%" y2="90"
                      stroke-width="4"
                      :class="{'line-default' : !lineColor}"
                      :stroke="lineColor ? lineColor : null">
                </line>
                <polygon points="18,40 0,27, 0,53"
                     class="triangle"
                     stroke-width="1"
                     :class="fillClass + (!strokeColor ? 'stroke-default': null)"
                     :stroke="strokeColor ? strokeColor : null"
                />
                <polygon points="22,40 40,27, 40,53"
                     class="triangle"
                     stroke-width="1"
                     :class="fillClass + (!strokeColor ? 'stroke-default': null)"
                     :stroke="strokeColor ? strokeColor : null"
                />
            </svg>
        </div>
    </div>
</template>

<script>
    export default {
    	name: 'vertical-valve-component',
	    props: {
		    labelTop: {
			    type: String,
		    },
		    labelBottom: {
			    type: String,
		    },
		    labelRight: {
			    type: String,
		    },
		    labelLeft: {
			    type: String,
		    },
		    width: {
			    type: [Number, String],
			    default: '3rem'
		    },
		    height: {
			    type: [Number, String],
		    },
		    status: {
			    type: String,
			    default: 'on'
		    },
		    fontSize: {
			    type: String,
			    default: '1.2rem'
		    },
		    lineColor: {
			    type: String,
		    },
		    strokeColor: {
			    type: String
		    }
	    },
        data: () => {
    		return {

            }
        },
	    computed: {
		    fillClass: function() {
			    if (this.status === 'on') {
				    return 'fill-active '
			    }

			    return 'fill-inactive '
		    },
		    calculatedHeight: function() {
			    if (this.height) {
				    return this.height;
			    }

			    return ((parseFloat(this.width).toFixed(2) / 45) * 80) + 'rem'
		    }
	    }
    }
</script>
