<template>
    <div class="line">
        <slot></slot>
        <div class="position-relative font-weight-normal" :style="{ width: '1.6rem', height: height }">
            <svg class="position-absolute" v-if="arrowUp"
                 style="height: 1.5rem; width: 1.6rem;top: 50%; left: 50%; transform: translate(-50%, -50%)"
                 :class="{'stroke-default': !strokeColor, 'arrow-default' : !arrowColor}"
                 :fill="arrowColor ? arrowColor : null"
                 :stroke="strokeColor ? strokeColor : null"
                 stroke-width="1"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M8 1 L0 12 L16 12 Z" />
            </svg>
            <svg class="position-absolute" v-if="arrowDown" style="height: 1.5rem; width: 1.6rem;top: 50%; left: 50%; transform: translate(-50%, -50%)"
                 :class="{'stroke-default': !strokeColor, 'arrow-default' : !arrowColor}"
                 :fill="arrowColor ? arrowColor : null"
                 :stroke="strokeColor ? strokeColor : null"
                 stroke-width="1"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M8 12 L0 1 L16 1 Z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                <rect width="3"
                      :height="parseFloat(height) * 10"
                      x="6.5"
                      y="0"
                      :class="{'rect-default' : !lineColor}"
                      :fill="lineColor ? lineColor : null">
                </rect>
            </svg>
        </div>
    </div>
</template>

<script>
    export default {
    	name: 'vertical-line-component',
	    props: {
		    height: {
			    type: [Number, String],
			    default: '3rem'
		    },
            arrowDown: {
            	type: Boolean,
                default: false
            },
		    arrowUp: {
			    type: Boolean,
			    default: false
		    },
		    arrowColor: {
			    type: String,
		    },
            lineColor: {
	            type: String,
            },
            strokeColor: {
            	type: String
            }
	    },
	    data: () => {
		    return {

		    }
	    },
	    computed: {
	    }
    }
</script>
