/* --------------------------------------
/*  Background Color
/* -------------------------------------- */
.bg-white {
  background-color: $white !important;
}

.bg-red {
  background-color: red !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-hot {
  background-color: $hot !important;
}

.bg-active {
  background-color: $active !important;
  fill: $active !important;
}

.bg-inactive {
  background-color: $inactive !important;
  fill: $inactive !important;
}

/* --------------------------------------
/*  Fill Color. Use in the component like pump, valve, line, stirrer and coagulator.
/* -------------------------------------- */
.fill-active {
  fill: $active !important;
}

.fill-inactive, fill {
  fill: $inactive !important;
}

.stroke-default {
  stroke: $stroke-color;
}

.line-default {
  stroke: $line-color;
}

.rect-default {
  fill: $line-color;
}

.arrow-default {
  fill: $arrow-color;
}

.circle-default {
  fill: $circle-color;
}

.bg-tank {
  fill: $bg-tank;
}

.bg-tank-level {
  fill: $bg-tank-level;
}

.on {
  color: $green;
}

.off {
  color: $gray-500;
}

.trip {
  color: $red;
}



