/* --------------------------------------
/*  Text
/* -------------------------------------- */

/**
 * Text alignment
 */
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}

/**
 * Text transform
 */
.text-uppercase {
  text-transform: uppercase !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}

/**
 * Text Color
 */
.text-white {
  color: $white !important;
}
.text-black {
  color: $black !important;
}

/**
 * Text Decoration
 */
$textdecorations: ('underline', 'overline', 'line-through');

@each $textdecoration in $textdecorations {
  .text-#{$textdecoration} {
    text-decoration: #{$textdecoration} !important;
  }
}

