<template>
    <div id="enr25-preparation" class="content">
        <!-- Apply manual mode modal -->
        <modal-component ref="manualModeModal" v-cloak>
            <template v-slot:header>
                Manual Mode
            </template>
            <template v-slot:body>
                <div class="mb-4">Full control will be enabled for 15 minutes.</div>
                <ValidationObserver ref="observer">
                    <ValidationProvider
                            name="access code"
                            rules="required"
                            v-slot="{ errors }"
                    >
                        <div class="row d-flex align-items-center">
                            <div class="col-5">
                                <div class="font-weight-600">Access code</div>
                            </div>
                            <div class="col-7">
                                <input style="width: 90%" type="text" v-model="accessCode" id="access_code"
                                       name="access_code" class="form-control" placeholder="Access code">
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col-12">
                                <div class="ml-4 error-message">{{ errors[0] }}</div>
                            </div>
                        </div>
                    </ValidationProvider>
                </ValidationObserver>
            </template>
            <template v-slot:footer>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="button" @click="onRequestAccessCode" class="btn btn-blue px-4 py-2" style="width: 10rem">Start</button>
                    <button type="button" @click="hideModal('manualModeModal')" class="btn btn-grey ml-4 px-4 py-2" style="width: 10rem">Cancel</button>
                </div>
            </template>
        </modal-component>
        <!-- End of apply manual mode modal -->

        <div class="header d-flex justify-content-between align-items-center">
            <h2>ENR-25</h2>
            <button type="button" class="btn btn-blue px-5 font-weight-700" v-if="mode === 'auto'" @click="showModal('manualModeModal')">Auto Mode</button>
            <button type="button" class="btn btn-orange px-5 font-weight-700" v-if="mode === 'manual'">Manual Mode</button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <!-- Mixing Start -->
                <div class="col-4">
                    <div class="panel h-100">
                        <div class="panel-heading">
                            Mixing
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 d-flex position-relative justify-content-end">
                                        <div class="component mt-5" style="width: 14rem; margin-right: 40%">
                                            Formid acid concentrated
                                        </div>
                                        <two-way-horizontal-valve-component class="position-absolute" style="right: -15%; top: 55%" position="center" width="16rem" label-top="XSV113">
                                        </two-way-horizontal-valve-component>
                                        <vertical-line-component class="position-absolute" style="right: -18%; margin-top: 5.5rem" height="32rem"></vertical-line-component>
                                    </div>
                                    <div class="col-3 position-relative">
                                        <div class="component">
                                            Peroxide
                                        </div>
                                        <vertical-line-component class="position-absolute center-x" height="35rem"></vertical-line-component>
                                        <pump-component class="center-x position-absolute" style="top: 14rem" label-right="XSV118" tatus="on"></pump-component>
                                    </div>
                                    <div class="col-3 position-relative">
                                        <div class="component">
                                            Latex
                                        </div>
                                        <vertical-line-component class="position-absolute center-x" height="35rem"></vertical-line-component>
                                        <pump-component class="center-x position-absolute" style="top: 18rem" label-right="XSV115" tatus="on"></pump-component>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-9 d-flex align-items-start justify-content-start position-relative">
                                        <div class="position-relative">
                                            <div class="component bg-blue text-white" style="cursor: pointer" @click="showModal('waterVolumeModal')">
                                                <div>Water</div>
                                                <div class="font-weight-normal">Volume FT101</div>
                                                <div><span class="water-volume">{{ waterVolume }}</span> m3</div>
                                            </div>

                                            <!-- Water volume modal -->
                                            <modal-component ref="waterVolumeModal" v-cloak>
                                                <template v-slot:header>
                                                    Water
                                                </template>
                                                <template v-slot:body>
                                                    <ValidationObserver ref="waterVolumeObserver">
                                                        <ValidationProvider
                                                                name="volume"
                                                                rules="required|numeric"
                                                                v-slot="{ errors }"
                                                        >
                                                            <div class="row d-flex align-items-center">
                                                                <div class="col-5">
                                                                    <div class="ml-4 text-left font-weight-600">Volume</div>
                                                                </div>
                                                                <div class="col-7">
                                                                    <input style="width: 90%" type="text" v-model="waterVolumeInput" id="water_volume"
                                                                       name="water_volume" class="form-control" placeholder="m3">
                                                                </div>
                                                            </div>
                                                            <div class="row d-flex">
                                                                <div class="col-12">
                                                                    <div class="ml-4 error-message">{{ errors[0] }}</div>
                                                                </div>
                                                            </div>
                                                        </ValidationProvider>
                                                    </ValidationObserver>
                                                </template>
                                                <template v-slot:footer>
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <button type="button" @click="onUpdateWaterVolume" class="btn btn-blue px-4 py-2" style="width: 10rem">Apply</button>
                                                        <button type="button" @click="hideModal('waterVolumeModal')" class="btn btn-grey ml-4 px-4 py-2" style="width: 10rem">Cancel</button>
                                                    </div>
                                                </template>
                                            </modal-component>
                                            <!-- End of water volume modal -->

                                            <div class="mt-3 component bg-blue text-white" style="cursor: pointer" @click="showModal('steamVolumeModal')">
                                                <div>Steam</div>
                                            </div>

                                            <!-- Steam volume modal -->
                                            <modal-component ref="steamVolumeModal" v-cloak>
                                                <template v-slot:header>
                                                    Steam
                                                </template>
                                                <template v-slot:body>
                                                    <ValidationObserver ref="steamVolumeObserver">
                                                        <ValidationProvider
                                                                name="volume"
                                                                rules="required|numeric"
                                                                v-slot="{ errors }"
                                                        >
                                                            <div class="row d-flex align-items-center">
                                                                <div class="col-5">
                                                                    <div class="ml-4 text-left font-weight-600">Volume</div>
                                                                </div>
                                                                <div class="col-7">
                                                                    <input style="width: 90%" type="text" v-model="steamVolumeInput" id="steam_volume"
                                                                           name="steam_volume" class="form-control" placeholder="m3">
                                                                </div>
                                                            </div>
                                                            <div class="row d-flex">
                                                                <div class="col-12">
                                                                    <div class="ml-4 error-message">{{ errors[0] }}</div>
                                                                </div>
                                                            </div>
                                                        </ValidationProvider>
                                                    </ValidationObserver>
                                                </template>
                                                <template v-slot:footer>
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <button type="button" @click="onUpdateSteamVolume" class="btn btn-blue px-4 py-2" style="width: 10rem">Apply</button>
                                                        <button type="button" @click="hideModal('steamVolumeModal')" class="btn btn-grey ml-4 px-4 py-2" style="width: 10rem">Cancel</button>
                                                    </div>
                                                </template>
                                            </modal-component>
                                            <!-- End of steam volume modal -->

                                            <horizontal-line-component class="position-absolute" style="bottom: 8%; left: 90%" width="5rem"></horizontal-line-component>
                                        </div>

                                        <two-way-horizontal-valve-component class="position-absolute mt-2" style="left: 28%;" width="8rem" label-top="XSV102"></two-way-horizontal-valve-component>

                                        <vertical-line-component class="position-absolute" height="3rem" style="left: 47%; top: 16%"></vertical-line-component>

                                        <div class="component ml-5" style="margin-top: 4rem">
                                            <div>Tetric acid</div>
                                            <div class="font-weight-normal">Level</div>
                                            <div>82%</div>
                                        </div>
                                        <two-way-horizontal-valve-component style="margin-right: 12%; margin-top: 7rem" width="5.3rem" label-top="XSV112"></two-way-horizontal-valve-component>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-6 d-flex position-relative align-items-start justify-content-end">
                                        <div class="component" style="width: 10rem; margin-right: 60%">
                                            Ammonia
                                        </div>
                                        <two-way-horizontal-valve-component class="position-absolute mt-2" style="right: -15%;" position="center" width="25rem" label-top="XSV111">
                                        </two-way-horizontal-valve-component>
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col-6 d-flex position-relative align-items-start justify-content-end">
                                        <div class="component" style="width: 10rem; margin-right: 60%">
                                            Water
                                        </div>
                                        <two-way-horizontal-valve-component class="position-absolute mt-2" style="right: -15%;" position="center" width="25rem" label-top="XSV110">
                                        </two-way-horizontal-valve-component>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 border py-3 bg-white">
                                        <div class="d-flex justify-content-between">
                                            <div class="font-weight-bold">Reactor Tank</div>
                                            <div class="font-weight-bold component bg-hot text-white text-center" style="width: 50%">Heating</div>
                                        </div>

                                        <div class="d-flex justify-content-end">
                                            <div class="component mt-3 mr-5" style="width: 30%">
                                                <div class="font-weight-normal">RCT101</div>
                                                <div>
                                                    <span>PV</span>
                                                    <span class="ml-2 font-weight-normal">30HZ</span>
                                                    <span class="ml-2">SV</span>
                                                    <span class="ml-2 font-weight-normal">30Hz</span>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center position-relative ml-4">
                                                <horizontal-line-component class="position-absolute" style="left: 8%" width="3rem"></horizontal-line-component>
                                                <vertical-line-component class="position-absolute" height="16rem" style="top: 48%"></vertical-line-component>
                                                <pump-component class="ml-5 mt-n3 mr-5" label-right="CCWP1" status="off"></pump-component>
                                            </div>
                                        </div>


                                        <div class="d-flex align-items-start">
                                            <div class="component" style="margin-right: 16%">
                                                <div class="font-weight-normal">TT106</div>
                                                <div>40°C</div>
                                            </div>

                                            <div class="d-flex justify-content-end position-relative mr-5" style="z-index: 5">
                                                <three-way-horizontal-valve-component position="center" style="top: 5%; left: -32%; z-index:11" class="position-absolute mb-1"
                                                    font-size="1.1rem" width="3rem" label-top="<span class='ml-n3'>XSV116</span>">
                                                    <div class="component position-absolute p-1 font-size-1" style="top: -5.5rem; left: -0.5rem">
                                                        <div class="font-weight-normal">(HOT)</div>
                                                        <div>0°C</div>
                                                    </div>
                                                </three-way-horizontal-valve-component>

                                                <vertical-line-component class="position-absolute" style="top: 10%; left: -29%" height="17rem"></vertical-line-component>

                                                <tank-component class="position-relative" text-offset="3" width="20rem" height="24rem" status="on" :font-size="11" value="50">
                                                    <two-way-horizontal-valve-component position="center" style="top: 20.5%; left: -26%" class="position-absolute mb-1"
                                                        font-size="1.1rem" width="9rem" label-top="<span class='ml-n3'>TCV102</span>"></two-way-horizontal-valve-component>

                                                    <two-way-horizontal-valve-component position="center" style="top: 39.3%; left: -26%" class="position-absolute mb-1"
                                                        font-size="1.1rem" width="9rem" label-top="<span class='ml-n3'>TCV103</span>"></two-way-horizontal-valve-component>

                                                    <two-way-horizontal-valve-component position="center" style="top: 57.5%; left: -26%" class="position-absolute mb-1"
                                                        font-size="1.1rem" width="9rem" label-top="<span class='ml-n3'>TCV104</span>"></two-way-horizontal-valve-component>

                                                    <two-way-horizontal-valve-component position="center" style="top: 76.5%; left: -26%" class="position-absolute mb-1"
                                                        font-size="1.1rem" width="9rem" label-top="<span class='ml-n3'>TCV105</span>"></two-way-horizontal-valve-component>

                                                    <div class="component position-absolute p-1 font-size-1" style="top: 10%; left: 27%">
                                                        <div class="font-weight-normal">TT102</div>
                                                        <div>40°C</div>
                                                    </div>

                                                    <div class="component position-absolute p-1 font-size-1" style="top: 29%; left: 27%">
                                                        <div class="font-weight-normal">TT103</div>
                                                        <div>40°C</div>
                                                    </div>

                                                    <div class="component position-absolute p-1 font-size-1" style="top: 48%; left: 27%">
                                                        <div class="font-weight-normal">TT104</div>
                                                        <div>40°C</div>
                                                    </div>

                                                    <div class="component position-absolute p-1 font-size-1" style="top: 67%; left: 27%">
                                                        <div class="font-weight-normal">TT105</div>
                                                        <div>40°C</div>
                                                    </div>
                                                </tank-component>
                                            </div>
                                        </div>

                                        <div class="mt-5 d-flex justify-content-end position-relative" style="margin-right: 40px">
                                            <three-way-horizontal-valve-component position="right" style="top: -820%; right: 5.1rem; z-index: 9" class="position-absolute"
                                                    font-size="1.1rem" width="12rem" status="off" label-bottom="<span class='ml-n2'>TCV101</span>">
                                                <div class="component position-absolute p-1 font-size-1" style="top: -50%; right: -43%">
                                                    <div class="font-weight-normal">(HOT)</div>
                                                    <div>0°C</div>
                                                </div>
                                                <div class="component position-absolute p-1 font-size-1" style="top: -350%; left: 65%">
                                                    <div class="font-weight-normal">TT109</div>
                                                    <div>40°C</div>
                                                </div>
                                            </three-way-horizontal-valve-component>

                                            <horizontal-line-component class="position-absolute" style="top: -90px; right: 15px" width="4rem"></horizontal-line-component>

                                            <vertical-line-component class="position-absolute" arrow-up height="6rem" style="top: -770%; right: 4.5rem"></vertical-line-component>

                                            <pump-component class="position-absolute" style="right: -4%; top: -10rem" label-top="HWP1" status="on">
                                                <div class="component position-absolute p-1 font-size-1" style="top: 15%; left: 90%">
                                                    <div class="font-weight-normal">TT109</div>
                                                    <div>40°C</div>
                                                </div>
                                            </pump-component>

                                            <vertical-line-component class="position-absolute" style="top: -9rem; right: -1.5%" height="10rem"></vertical-line-component>

                                            <three-way-horizontal-valve-component position="left" class="mb-1 position-relative" font-size="1.1rem" width="6rem"
                                                status="off" label-top="<span class='ml-n2'>TCV109</span>">
                                                <div class="component position-absolute p-1 font-size-1" style="top: -330%; left: -20%">
                                                    <div class="font-weight-normal">(HOT)</div>
                                                    <div>90°C</div>
                                                </div>
                                            </three-way-horizontal-valve-component>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mixing End -->

                <!-- Reactor tank readings start -->
                <div class="col-4">
                    <div class="panel h-100">
                        <div class="panel-heading">
                            Reactor tank readings
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="panel h-100">
                                            <div class="panel-heading">
                                                Overview
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-6">Batch No.</div>
                                                    <div class="col-6 font-weight-bold">-</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Time elapse</div>
                                                    <div class="col-6 font-weight-bold">3h 32m</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Load cell (WT101)</div>
                                                    <div class="col-6 font-weight-bold">1200 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">pH Sensor (PHT101)</div>
                                                    <div class="col-6 font-weight-bold">7.0 pH</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Stirrer (RCT101)</div>
                                                    <div class="col-6 font-weight-bold">50 Hz</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-12">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                Material breakdown
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-6">Formid Acid</div>
                                                    <div class="col-6 font-weight-bold">200 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Tetric acid</div>
                                                    <div class="col-6 font-weight-bold">250 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Ammonia</div>
                                                    <div class="col-6 font-weight-bold">250 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Peroxide</div>
                                                    <div class="col-6 font-weight-bold">450 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Latex</div>
                                                    <div class="col-6 font-weight-bold">40 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Water</div>
                                                    <div class="col-6 font-weight-bold">10 KG</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col-12">
                                        <reactor-material-chart-component></reactor-material-chart-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Reactor tank readings end -->

                <div class="col-4">
                    <div class="panel h-100">
                        <div class="panel-heading">
                            Parameters
                        </div>
                        <div class="panel-body">
                            <div class="container px-0">
                                <div class="row">
                                    <div class="col-12">
                                        <accordion-component>
                                            <accordion-item-component>
                                                <template slot="header">
                                                    <h3>Mixing</h3>
                                                </template>
                                                <template slot="content">
                                                    <table>
                                                        <thead>
                                                        <tr class="px-2">
                                                            <th>No.</th>
                                                            <th>Code</th>
                                                            <th class="text-left">Description</th>
                                                            <th>PV</th>
                                                            <th>SV</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="px-2" :class="{ 'edit-mode': parameter.editMode, 'readonly-mode': !parameter.editMode }" v-for="(parameter, index) in mixingParameters" :key="index">
                                                            <td style="width: 10%">{{ index + 1 }}</td>
                                                            <td style="width: 15%">{{ parameter.code }}</td>
                                                            <td class="text-left" style="width: 30%">{{ parameter.name }}</td>
                                                            <td>
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <div v-if="!parameter.editMode">{{ parameter.pv ? parameter.pv : '-' }}</div>
                                                                    <input type="text" value="" v-else v-model="mixingUpdateData[index].pv">
                                                                    <span v-if="parameter.pv && parameter.unit">{{ parameter.unit}}</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <div v-if="!parameter.editMode">{{ parameter.sv ? parameter.sv : '-' }}</div>
                                                                    <input type="text" value="" v-else v-model="mixingUpdateData[index].sv">
                                                                    <span v-if="parameter.sv && parameter.unit">{{ parameter.unit}}</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <p-check class="p-switch p-outline status-toggle" v-if="parameter.editMode" checked="parameter.status"
                                                                         v-model="mixingUpdateData[index].status"></p-check>

                                                                <font-awesome-icon v-else :class="{'on': parameter.status === 2, 'off': parameter.status === 1, 'trip': parameter.status === 0}" icon="circle"/>
                                                            </td>
                                                            <td>
                                                                <div class="edit-btn" v-if="!parameter.editMode" @click="toggleModeForMixingParameters(index)">
                                                                    <font-awesome-icon icon="pencil-alt"/>
                                                                </div>

                                                                <div class="d-flex" v-if="parameter.editMode">
                                                                    <div class="save-btn mr-2" @click="saveMixingParameter(index)">
                                                                        <font-awesome-icon icon="save"/>
                                                                    </div>
                                                                    <div class="cancel-btn" @click="toggleModeForMixingParameters(index)">
                                                                        <font-awesome-icon icon="window-close"/>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </template>
                                            </accordion-item-component>

                                            <accordion-item-component>
                                                <template slot="header">
                                                    <h3>Heating</h3>
                                                </template>
                                                <template slot="content">
                                                    <table>
                                                        <thead>
                                                        <tr class="px-2">
                                                            <th>No.</th>
                                                            <th>Code</th>
                                                            <th class="text-left">Description</th>
                                                            <th>PV</th>
                                                            <th>SV</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="px-2" :class="{ 'edit-mode': parameter.editMode, 'readonly-mode': !parameter.editMode }" v-for="(parameter, index) in heatingParameters" :key="index">
                                                            <td style="width: 10%">{{ index + 1 }}</td>
                                                            <td style="width: 15%">{{ parameter.code }}</td>
                                                            <td class="text-left" style="width: 30%">{{ parameter.name }}</td>
                                                            <td>
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <div v-if="!parameter.editMode">{{ parameter.pv ? parameter.pv : '-' }}</div>
                                                                    <input type="text" value="" v-else v-model="heatingUpdateData[index].pv">
                                                                    <span v-if="parameter.pv && parameter.unit">{{ parameter.unit}}</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <div v-if="!parameter.editMode">{{ parameter.sv ? parameter.sv : '-' }}</div>
                                                                    <input type="text" value="" v-else v-model="heatingUpdateData[index].sv">
                                                                    <span v-if="parameter.sv && parameter.unit">{{ parameter.unit}}</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <p-check class="p-switch p-outline status-toggle" v-if="parameter.editMode" checked="parameter.status"
                                                                     v-model="heatingUpdateData[index].status"></p-check>

                                                                <font-awesome-icon v-else :class="{'on': parameter.status === 2, 'off': parameter.status === 1, 'trip': parameter.status === 0}" icon="circle"/>
                                                            </td>
                                                            <td>
                                                                <div class="edit-btn" v-if="!parameter.editMode" @click="toggleModeForHeatingParameters(index)">
                                                                    <font-awesome-icon icon="pencil-alt"/>
                                                                </div>

                                                                <div class="d-flex" v-if="parameter.editMode">
                                                                    <div class="save-btn mr-2" @click="saveHeatingParameter(index)">
                                                                        <font-awesome-icon icon="save"/>
                                                                    </div>
                                                                    <div class="cancel-btn" @click="toggleModeForHeatingParameters(index)">
                                                                        <font-awesome-icon icon="window-close"/>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </template>
                                            </accordion-item-component>

                                            <accordion-item-component>
                                                <template slot="header">
                                                    <h3>Cooling</h3>
                                                </template>
                                                <template slot="content">
                                                    <table>
                                                        <thead>
                                                        <tr class="px-2">
                                                            <th>No.</th>
                                                            <th>Code</th>
                                                            <th class="text-left">Description</th>
                                                            <th>PV</th>
                                                            <th>SV</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="px-2" :class="{ 'edit-mode': parameter.editMode, 'readonly-mode': !parameter.editMode }" v-for="(parameter, index) in coolingParameters" :key="index">
                                                            <td style="width: 10%">{{ index + 1 }}</td>
                                                            <td style="width: 15%">{{ parameter.code }}</td>
                                                            <td class="text-left" style="width: 30%">{{ parameter.name }}</td>
                                                            <td>
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <div v-if="!parameter.editMode">{{ parameter.pv ? parameter.pv : '-' }}</div>
                                                                    <input type="text" value="" v-else v-model="coolingUpdateData[index].pv">
                                                                    <span v-if="parameter.pv && parameter.unit">{{ parameter.unit}}</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <div v-if="!parameter.editMode">{{ parameter.sv ? parameter.sv : '-' }}</div>
                                                                    <input type="text" value="" v-else v-model="coolingUpdateData[index].sv">
                                                                    <span v-if="parameter.sv && parameter.unit">{{ parameter.unit}}</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <p-check class="p-switch p-outline status-toggle" v-if="parameter.editMode" checked="parameter.status"
                                                                         v-model="coolingUpdateData[index].status"></p-check>

                                                                <font-awesome-icon v-else :class="{'on': parameter.status === 2, 'off': parameter.status === 1, 'trip': parameter.status === 0}" icon="circle"/>
                                                            </td>
                                                            <td>
                                                                <div class="edit-btn" v-if="!parameter.editMode" @click="toggleModeForCoolingParameters(index)">
                                                                    <font-awesome-icon icon="pencil-alt"/>
                                                                </div>

                                                                <div class="d-flex" v-if="parameter.editMode">
                                                                    <div class="save-btn mr-2" @click="saveCoolingParameter(index)">
                                                                        <font-awesome-icon icon="save"/>
                                                                    </div>
                                                                    <div class="cancel-btn" @click="toggleModeForCoolingParameters(index)">
                                                                        <font-awesome-icon icon="window-close"/>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </template>
                                            </accordion-item-component>
                                        </accordion-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
	import HorizontalLineComponent from "../../../components/productions/HorizontalLine";
	import VerticalLineComponent from "../../../components/productions/VerticalLine";
	import PumpComponent from "../../../components/productions/Pump";
	import TwoWayHorizontalValveComponent from "../../../components/productions/TwoWayHorizontalValve";
	import ThreeWayHorizontalValveComponent from "../../../components/productions/ThreeWayHorizontalValve";
	import TankComponent from '../../../components/productions/Tank'
	import ModalComponent from '../../../components/modal/Modal';
	import ReactorMaterialChartComponent from './ReactorMaterialChart'
	import AccordionComponent from '../../../components/accordion/Accordion'
	import AccordionItemComponent from '../../../components/accordion/AccordionItem'
    let parameters = require('../../../assets/data/parameters.json');

	export default {
		name: "enr-25-component",
        components: {
	        'horizontal-line-component': HorizontalLineComponent,
	        'vertical-line-component': VerticalLineComponent,
	        'pump-component': PumpComponent,
	        'tank-component': TankComponent,
	        'two-way-horizontal-valve-component': TwoWayHorizontalValveComponent,
	        'three-way-horizontal-valve-component': ThreeWayHorizontalValveComponent,
            'modal-component': ModalComponent,
	        'reactor-material-chart-component': ReactorMaterialChartComponent,
	        'accordion-component': AccordionComponent,
	        'accordion-item-component': AccordionItemComponent,
        },
        data() {
			return {
				mode: 'auto',
				accessCode: '',
                waterVolumeInput: '',
                waterVolume: '',
                steamVolumeInput: '',
                steamVolume: '',
				mixingParameters: [],
				mixingUpdateData: [],
				heatingParameters: [],
				heatingUpdateData: [],
				coolingParameters: [],
				coolingUpdateData: [],
			}
        },
		methods: {
			/**
			 * Show modal.
			 *
			 * @param modalReference
			 */
			showModal(modalReference) {
				this.$refs[modalReference].open();
			},

			/**
			 * Hide modal.
			 *
			 * @param modalReference
			 */
			hideModal(modalReference) {
				this.$refs[modalReference].close();
			},

			/**
			 * Update the water volume.
			 */
			async onUpdateWaterVolume() {
				let validationPassed = await this.$refs.waterVolumeObserver.validate();

				if (!validationPassed) {
					return;
				}
				this.waterVolume = this.waterVolumeInput;

				this.hideModal('waterVolumeModal');

				this.$swal({
					title: "Success",
					html: "Successfully updated water volume to " + this.waterVolumeInput + '<sup>m3</sup>.',
					icon: "success",
					confirmButtonText: "OK"
				});

				this.waterVolumeInput = '';
			},

			/**
			 * Update the steam volume.
			 */
			async onUpdateSteamVolume() {
				let validationPassed = await this.$refs.steamVolumeObserver.validate();

				if (!validationPassed) {
					return;
				}
				this.steamVolume = this.steamVolumeInput;

				this.hideModal('steamVolumeModal');

				this.$swal({
					title: "Success",
					html: "Successfully updated steam volume to " + this.steamVolumeInput + '<sup>m3</sup>.',
					icon: "success",
					confirmButtonText: "OK"
				});

				this.steamVolumeInput = '';
			},

			/**
			 * Request access code from the API for manual mode.
			 */
			async onRequestAccessCode() {
				let validationPassed = await this.$refs.observer.validate();

				if (!validationPassed) {
					return;
				}
				this.mode = 'manual';

				this.hideModal('manualModeModal');
			},

			/**
			 * Get all parameter for mixing, heating and cooling from the API.
			 *
			 * @returns {Promise<void>}
			 */
			getParameters: async function () {
				this.mixingParameters = parameters.enr.mixing;
				this.mixingParameters.forEach(parameter => {
					this.$set(parameter, 'editMode', false);
					this.$set(parameter, 'status', parameter.status)
				});

				this.heatingParameters = parameters.enr.heating;
				this.heatingParameters.forEach(parameter => {
					this.$set(parameter, 'editMode', false);
					this.$set(parameter, 'status', parameter.status)
				});

				this.coolingParameters = parameters.enr.cooling;
				this.coolingParameters.forEach(parameter => {
					this.$set(parameter, 'editMode', false);
					this.$set(parameter, 'status', parameter.status)
				});
			},

			/**
			 * Toggle mode between read only and edit mode for mixing parameters.
			 *
			 * @param index
			 */
			toggleModeForMixingParameters(index) {
				if (typeof this.mixingParameters[index] === 'undefined') {
					return;
				}

				this.mixingParameters.map(function(parameter, index1) {
					if (index != index1) {
						parameter.editMode = false;
						return parameter
					}
				});

				// Remove update data if user cancel edit mode.
				let parameter = this.mixingParameters[index];

				if (this.mixingParameters[index].editMode === true) {
					parameter.editMode = false;

					// Remove update data if user cancel edit mode.
					this.mixingUpdateData.splice(index, 1);
				} else {
					parameter.editMode = true;

					this.mixingUpdateData = [];

					// Status = 0 - Trip, 1 - Off, 2 - On
					let status = this.mixingParameters[index].status > 1;

					// Push empty data into update data array when user enable edit mode.
					this.mixingUpdateData[index] = {
						"code": this.mixingParameters[index].code,
						'pv': this.mixingParameters[index].pv,
						'sv': this.mixingParameters[index].sv,
						'status': status,
					};
				}

				this.$set(this.mixingParameters, index, parameter);
			},

			/**
			 * Save updated data for mixing parameter.
			 *
			 * @param index
			 */
			saveMixingParameter(index) {
				// Need to request API to save.
				console.log('Updated data', this.mixingUpdateData[index]);

				let validationFailed = false;
				let errorMessage = '';

				if (!this.mixingUpdateData[index].pv) {
					validationFailed = true;
					errorMessage = 'PV value is required'
				}

				if (!this.mixingUpdateData[index].sv) {
					validationFailed = true;
					errorMessage = 'SV value is required'
				}

				if (validationFailed) {
					this.$swal({
						title: "Error!",
						text: errorMessage,
						icon: "error",
						confirmButtonText: "OK"
					});

					return;
				}

				this.$swal({
					title: "Success",
					html: "<div>Successfully updated the mixing parameter " + this.mixingUpdateData[index].code + ".</div><div>" + JSON.stringify(this.mixingUpdateData[index]) + "</div>",
					icon: "success",
					confirmButtonText: "OK"
				});

				// Status = 0 - Trip, 1 - Off, 2 - On
				// If checkbox has been checked, set status to 'On'.
				// Otherwise set status to 'Off'.
				let status = this.mixingUpdateData[index].status ? 2 : 1;

				// Disable edit mode.
				this.mixingParameters[index].editMode = false;
				this.mixingParameters[index].pv = this.mixingUpdateData[index].pv;
				this.mixingParameters[index].sv = this.mixingUpdateData[index].sv;
				this.mixingParameters[index].status = status;

				// Remove update data after successfully save.
				this.mixingUpdateData.splice(index, 1);
			},

			/**
			 * Toggle mode between read only and edit mode for heating parameters.
			 *
			 * @param index
			 */
			toggleModeForHeatingParameters(index) {
				if (typeof this.heatingParameters[index] === 'undefined') {
					return;
				}

				this.heatingParameters.map(function(parameter, index1) {
					if (index != index1) {
						parameter.editMode = false;
						return parameter
					}
				});

				// Remove update data if user cancel edit mode.
				let parameter = this.heatingParameters[index];

				if (this.heatingParameters[index].editMode === true) {
					parameter.editMode = false;

					// Remove update data if user cancel edit mode.
					this.heatingUpdateData.splice(index, 1);
				} else {
					parameter.editMode = true;

					this.heatingUpdateData = [];

					// Status = 0 - Trip, 1 - Off, 2 - On
					let status = this.heatingParameters[index].status > 1;

					// Push empty data into update data array when user enable edit mode.
					this.heatingUpdateData[index] = {
						"code": this.heatingParameters[index].code,
						'pv': this.heatingParameters[index].pv,
						'sv': this.heatingParameters[index].sv,
						'status': status,
					};
				}

				this.$set(this.heatingParameters, index, parameter);
			},

			/**
			 * Save updated data for heating parameter.
			 *
			 * @param index
			 */
			saveHeatingParameter(index) {
				// Need to request API to save.
				console.log('Updated data', this.heatingUpdateData[index]);

				let validationFailed = false;
				let errorMessage = '';

				if (!this.heatingUpdateData[index].pv) {
					validationFailed = true;
					errorMessage = 'PV value is required'
				}

				if (!this.heatingUpdateData[index].sv) {
					validationFailed = true;
					errorMessage = 'SV value is required'
				}

				if (validationFailed) {
					this.$swal({
						title: "Error!",
						text: errorMessage,
						icon: "error",
						confirmButtonText: "OK"
					});

					return;
				}

				this.$swal({
					title: "Sucess",
					html: "<div>Successfully updated the mixing parameter " + this.heatingUpdateData[index].code + ".</div><div>" + JSON.stringify(this.heatingUpdateData[index]) + "</div>",
					icon: "success",
					confirmButtonText: "OK"
				});

				// Status = 0 - Trip, 1 - Off, 2 - On
                // If checkbox has been checked, set status to 'On'.
                // Otherwise set status to 'Off'.
				let status = this.heatingUpdateData[index].status ? 2 : 1;

				// Disable edit mode.
				this.heatingParameters[index].editMode = false;
				this.heatingParameters[index].pv = this.heatingUpdateData[index].pv;
				this.heatingParameters[index].sv = this.heatingUpdateData[index].sv;
				this.heatingParameters[index].status = status;

				// Remove update data after successfully save.
				this.heatingUpdateData.splice(index, 1);
			},

			/**
			 * Toggle mode between read only and edit mode for heating parameters.
			 *
			 * @param index
			 */
			toggleModeForCoolingParameters(index) {
				if (typeof this.coolingParameters[index] === 'undefined') {
					return;
				}

				this.coolingParameters.map(function(parameter, index1) {
					if (index != index1) {
						parameter.editMode = false;
						return parameter
					}
				});

				// Remove update data if user cancel edit mode.
				let parameter = this.coolingParameters[index];

				if (this.coolingParameters[index].editMode === true) {
					parameter.editMode = false;

					// Remove update data if user cancel edit mode.
					this.coolingUpdateData.splice(index, 1);
				} else {
					parameter.editMode = true;

					this.coolingUpdateData = [];

					// Status = 0 - Trip, 1 - Off, 2 - On
					let status = this.coolingParameters[index].status > 1;

					// Push empty data into update data array when user enable edit mode.
					this.coolingUpdateData[index] = {
						"code": this.coolingParameters[index].code,
						'pv': this.coolingParameters[index].pv,
						'sv': this.coolingParameters[index].sv,
						'status': status
					};
				}

				this.$set(this.coolingParameters, index, parameter);
			},

			/**
			 * Save updated data for heating parameter.
			 *
			 * @param index
			 */
			saveCoolingParameter(index) {
				// Need to request API to save.
				console.log('Updated data', this.coolingUpdateData[index]);

				let validationFailed = false;
				let errorMessage = '';

				if (!this.coolingUpdateData[index].pv) {
					validationFailed = true;
					errorMessage = 'PV value is required'
				}

				if (!this.coolingUpdateData[index].sv) {
					validationFailed = true;
					errorMessage = 'SV value is required'
				}

				if (validationFailed) {
					this.$swal({
						title: "Error!",
						text: errorMessage,
						icon: "error",
						confirmButtonText: "OK"
					});

					return;
				}

				this.$swal({
					title: "Sucess",
					html: "<div>Successfully updated the cooling parameter " + this.coolingUpdateData[index].code + ".</div><div>" + JSON.stringify(this.coolingParameters[index]) + "</div>",
					icon: "success",
					confirmButtonText: "OK"
				});

				// Status = 0 - Trip, 1 - Off, 2 - On
				// If checkbox has been checked, set status to 'On'.
				// Otherwise set status to 'Off'.
				let status = this.coolingUpdateData[index].status ? 2 : 1;

				// Disable edit mode.
				this.coolingParameters[index].editMode = false;
				this.coolingParameters[index].pv = this.coolingUpdateData[index].pv;
				this.coolingParameters[index].sv = this.coolingUpdateData[index].sv;
				this.coolingParameters[index].status = status;

				// Remove update data after successfully save.
				this.coolingUpdateData.splice(index, 1);
			},
		},
		mounted() {
			// Set initial value for water volume. Can grab the value from the API.
			this.waterVolume = '10';

			// Set initial value for steam volume. Can grab the value from the API.
			this.steamVolume = '10';

			this.getParameters();
		}
	};
</script>

<style scoped lang="scss">
    @import "../../../assets/styles/pages/productions/enr25.scss";
</style>
