<template>
    <div>
        <highcharts :options="options"></highcharts>
    </div>
</template>

<script>
	import {Chart} from 'highcharts-vue'

	export default {
		name: "latex-tank-chart-component",
		components: {
			highcharts: Chart
		},
		data: function () {
			return {
				options: {
					chart: {
						height: `190`
					},
					credits: false,
					title: {
						text: 'Latex Holding Tank',
						style: {
							fontSize: '1.5rem'
						}
					},
					xAxis: {
						categories: ['12 AM', '1 AM', '2 AM', '3 AM', '4 AM', '6 AM', '7 AM', '8 AM', '9 AM', '10 AM', '11 AM']
					},
					yAxis: {
						max: 100,
						title: {
							text: 'Volume (%)',
							align: 'high',
							y: -14,
							x: -10,
							offset: -40,
							rotation: 0
						},
						tickInterval: 10
					},
					series: [{
						type: 'column',
						name: 'Latex',
						data: [100, 80, 60, 70, 75, 90, 30, 40, 50, 60, 30],
						color: '#8B572A'
					}]
				},
			}
		}
	}
</script>
