<template>
    <div>
        <highcharts :options="options"></highcharts>
    </div>
</template>

<script>
	import {Chart} from 'highcharts-vue'

	export default {
		name: "latex-tank-chart-component",
		components: {
			highcharts: Chart
		},
		data: function () {
			return {
				options: {
					chart: {
						height: 190
					},
					credits: false,
					title: {
						text: 'Steam Coagulator',
						style: {
							fontSize: '1.5rem'
						}
					},
					legend: {
						layout: 'horizontal',
						align: 'center',
						verticalAlign: 'bottom'
					},
					xAxis: {
						categories: ['12 AM', '1 AM', '2 AM', '3 AM', '4 AM', '6 AM', '7 AM', '8 AM', '9 AM', '10 AM', '11 AM']
					},
					yAxis: {
						max: 10,
						title: {
							text: 'Pressure (barg)',
							align: 'high',
							y: -24,
							x: 0,
							offset: -30,
							rotation: 0
						},
						tickInterval: 2
					},
					series: [{
						name: 'Pressure',
						data: [2, 3, 4, 5, 8, 10, 10, 8, 6, 3, 4],
						color: '#D0021B'
					}]
				},
			}
		}
	}
</script>
