<template>
    <div id="productions" class="content">
        <div class="header d-flex justify-content-between align-items-center">
            <h2>DPNR</h2>
            <h3 class="mb-0">VIEW MODE</h3>
        </div>
        <div class="container-fluid">
            <div class="row">
                <!-- Mixing Starts -->
                <div class="col-4">
                    <div id="mixing" class="h-100" style="z-index: 9;">
                        <div class="panel h-100">
                            <div class="panel-heading">Mixing</div>
                            <div class="panel-body">
                                <div class="container">
                                    <div class="d-flex align-items-start justify-content-center">
                                        <div class="component mt-5" style="width: 9.5rem">
                                            Formic acid
                                            <vertical-valve-component class="position-absolute" style="top: 100%" label-right="XSV101"></vertical-valve-component>
                                        </div>

                                        <div class="d-flex px-4">
                                            <pump-component class="mt-5 position-relative" width="4rem" label-top="XSV118" status="on">
                                                <horizontal-line-component style="left: -2rem" class="position-absolute" width="3rem"></horizontal-line-component>
                                                <horizontal-line-component  style="right: -2rem" class="position-absolute"></horizontal-line-component>
                                            </pump-component>
                                        </div>

                                        <div class="component mt-5" style="width: 13rem">Formic acid concentrated</div>
                                        <div class="position-relative mt-5">
                                            <two-way-horizontal-valve-component position="center" width="8rem" class="mb-1" label-top="XSV114"></two-way-horizontal-valve-component>
                                            <div class="bg-active font-white component" style="width: 7rem; margin: 0 auto">10 m/3</div>
                                        </div>
                                        <div>
                                            <div class="text-center">FAS1+</div>
                                            <div class="component" style="width: 12rem">
                                                <div class="flex-center">
                                                    <stirrer-component width="4rem"></stirrer-component>
                                                </div>
                                                <div class="font-weight-normal">Level</div>
                                                <div>82%</div>

                                                <div class="d-flex mt-n1">
                                                    <div class="mr-2">
                                                        <div class="font-weight-normal">PV</div>
                                                        <div>30Hz</div>
                                                    </div>
                                                    <div>
                                                        <div class="font-weight-normal">SV</div>
                                                        <div>30Hz</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center" style="margin-top: -3.1rem">
                                        <div class="component bg-white" style="width: 8rem; z-index: 1;">Water</div>
                                        <div class="component ml-2 bg-active font-white">10 m/3</div>
                                    </div>

                                    <div>
                                        <img class="ml-5 water-to-valve-line" src="../../../assets/svg/dpnr/mixing/water-to-valve-line.svg" style="display: block; width: 82.5%;">
                                    </div>

                                    <div class="row">
                                        <div class="col flex-center"></div>
                                        <div class="col flex-center">
                                            <vertical-valve-component label-right="XSV103"></vertical-valve-component>
                                        </div>
                                        <div class="col flex-center">
                                            <vertical-valve-component label-right="XSV104"></vertical-valve-component>
                                        </div>
                                        <div class="col flex-center">
                                            <vertical-valve-component label-right="XSV105"></vertical-valve-component>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="position-relative component col mx-1">
                                            Latex
                                            <img class="position-absolute" style="top: 100%; left: 44%;" src="../../../assets/svg/dpnr/mixing/latex-to-mixing-tank.svg">
                                        </div>
                                        <div class="component col mx-1">Enzyme</div>
                                        <div class="component col mx-1">HNS</div>
                                        <div class="component col mx-1">Tetric acid</div>
                                    </div>

                                    <div class="row">
                                        <div class="col flex-center"></div>
                                        <div class="col flex-center">
                                            <vertical-valve-component label-right="XSV107"></vertical-valve-component>
                                        </div>
                                        <div class="col flex-center">
                                            <vertical-valve-component label-right="XSV108"></vertical-valve-component>
                                        </div>
                                        <div class="col flex-center">
                                            <vertical-valve-component label-right="XSV109"></vertical-valve-component>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end">
                                        <div style="width: 20%; height: 3rem; z-index: 4">
                                            <div class="mt-1 position-relative flex-center">
                                                <pump-component label-left="XSV116"></pump-component>
                                            </div>

                                            <div class="position-relative component mr-1" style="margin-top: 8rem">
                                                Water
                                                <img class="position-absolute" style="top: 100%; left: 40%;" src="../../../assets/svg/dpnr/mixing/latex-to-mixing-tank.svg">
                                                <vertical-valve-component class="position-absolute mt-5" label-right="XSV106" style="left: 27%">
                                                </vertical-valve-component>
                                            </div>
                                        </div>
                                        <div class="bg-white p-3 border d-flex flex-column position-relative"  style="width: 80%; z-index: 5">
                                            <div class="font-weight-700">Mixing Tank</div>

                                            <div class="d-flex mt-1 justify-content-between">
                                                <div>
                                                    <div>Load cell</div>
                                                    <div class="font-weight-700">1200 KG</div>

                                                    <div class="mt-1">Time elapse</div>
                                                    <div class="font-weight-700">3h 10m</div>

                                                    <div class="mt-1">ph Sensor</div>
                                                    <div class="font-weight-700">7.0 pH</div>

                                                    <div class="mt-1">RCT102</div>
                                                    <div class="font-weight-700">30Hz</div>
                                                </div>

                                                <div class="px-2">
                                                    <div class="text-underline font-weight-600">Material breakdown</div>

                                                    <div class="mt-1 mb-1 d-flex justify-content-between">
                                                        <div>Enzyme</div>
                                                        <div class="font-weight-700">200 KG</div>
                                                    </div>
                                                    <div class="mb-1 d-flex justify-content-between">
                                                        <div>HNS</div>
                                                        <div class="font-weight-700">250 KG</div>
                                                    </div>
                                                    <div class="mb-1 d-flex justify-content-between">
                                                        <div>Teric Acid</div>
                                                        <div class="font-weight-700">250 KG</div>
                                                    </div>
                                                    <div class="mb-1 d-flex justify-content-between">
                                                        <div>Latex</div>
                                                        <div class="font-weight-700">450 KG</div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div>Water</div>
                                                        <div class="font-weight-700">50 KG</div>
                                                    </div>
                                                </div>

                                                <div class="ml-1">
                                                    <tank-component :font-size="10" value="50"></tank-component>
                                                </div>
                                            </div>

                                            <div class="mt-2 position-relative">
                                                <material-chart-component></material-chart-component>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mixing End -->

                <!-- Coagulation Starts -->
                <div class="col-4">
                    <div id="coagulation" class="h-100 grow-1 shrink-1 basis-0" style="z-index: 7">
                        <div class="panel h-100">
                            <div class="panel-heading">Coagulation</div>
                            <div class="panel-body">
                                <div class="mb-5 active-state text-center font-weight-700 p-3 border">Fume Extractor <span class="font-weight-normal">ETF1</span></div>
                                <div class="d-flex justify-content-end align-items-center position-relative">
                                        <horizontal-line-component class="position-absolute ml-n3" style="right: 3%;" :arrow-right="true" width="65rem"></horizontal-line-component>

                                    <div class="d-flex justify-content-end position-relative">
                                        <pump-component width="4rem" label-top="XCV117"></pump-component>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 d-flex justify-content-between">
                                        <pump-component class="display-relative" width="4rem" label-top="XCV101" label-bottom="70%">
                                            <img class="position-absolute" style="left: -18%; top: 48%; height: 44.4rem;" src="../../../assets/svg/dpnr/mixing/mixing-tank-to-coagulation-pump.svg">
                                            <horizontal-line-component :arrow-right="true" class="position-absolute" width="20rem"></horizontal-line-component>
                                        </pump-component>
                                        <div class="d-flex">
                                            <div class="component pr-3">
                                                <div>Latex Tank</div>
                                                <div class="font-weight-normal">LT104</div>
                                                <div>Level</div>
                                                <div class="font-weight-normal">82%</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 pr-2 d-flex justify-content-end">
                                        <div class="ml-1">
                                            <div class="component">
                                                <div>Acid Tank</div>
                                                <div  class="font-weight-500" style="width: 11rem">LTH103 | LAL103</div>
                                                <div>Level</div>
                                                <div class="font-weight-500">High</div>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="connector" style="height: 6.5rem; width: 11rem" src="../../../assets/svg/dpnr/coagulation/connector-pump-to-acid-tank.svg">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5 d-flex justify-content-end">
                                        <vertical-valve-component label-right="XSV103"></vertical-valve-component>
                                    </div>
                                    <div class="col-5 col-offset-2 d-flex justify-content-start">
                                        <vertical-valve-component style="margin-left: 9rem" label-right="XSV103"></vertical-valve-component>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-5">
                                        <steam-cogulator-component style="width: 20rem; margin: 0 auto;" status="off"></steam-cogulator-component>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col d-flex justify-content-center">
                                        <vertical-line-component :arrow-down="true" width="2.5rem"></vertical-line-component>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-4 component text-center" style="z-index: 4">
                                        Steam coagulator
                                    </div>
                                </div>

                                <div class="row justify-content-center mt-2">
                                    <div class="col">
                                        <latex-tank-chart-component></latex-tank-chart-component>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Coagulation End -->

                <!-- Creeping Start -->
                <div class="col-4">
                    <div id="creeping" class="h-100" style="z-index: 6">
                        <div class="panel h-100">
                            <div class="panel-heading">Creeping</div>
                            <div class="panel-body">
                                <div class="component">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>Laser</span>
                                            <span class="font-weight-normal ml-1">A0201</span>
                                            <div class="position-relative">
                                                <img class="" style="height: 52.5rem; position: absolute; top: -1.7rem; right: 94%; width: 25.5rem;"
                                                     src="../../../assets/svg/dpnr/coagulation/steam-coagulation-to-laser.svg">
                                            </div>
                                        </div>
                                        <div class="font-weight-normal col-6">0%</div>
                                    </div>
                                </div>

                                <div class="flex-center">
                                    <vertical-line-component class="mr-2" :arrow-down="true"></vertical-line-component>
                                </div>

                                <div class="component">
                                    <div class="row">
                                        <div class="col-6">
                                            <div>CPR 1</div>
                                            <div class="d-flex font-weight-normal">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                            <div class="font-weight-normal">
                                                <span>RUNTIME</span>
                                                <span class="ml-1">-h -m</span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>CVY 1</div>
                                            <div class="font-weight-normal d-flex">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col flex-center">
                                        <vertical-line-component :arrow-down="true"></vertical-line-component>
                                        <circle-component label-right="D0201"></circle-component>
                                    </div>
                                </div>

                                <div class="component">
                                    <div class="row">
                                        <div class="col-6">
                                            <div>CPR 2</div>
                                            <div class="font-weight-normal">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                            <div class="font-weight-normal">
                                                <span>RUNTIME</span>
                                                <span class="ml-1">-h -m</span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>CVY 2</div>
                                            <div class="font-weight-normal">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-center">
                                    <vertical-line-component :arrow-down="true"></vertical-line-component>
                                    <circle-component label-right="D0202"></circle-component>
                                </div>

                                <div class="component">
                                    <div class="row">
                                        <div class="col-6">
                                            <div>CPR 3</div>
                                            <div class="font-weight-normal">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                            <div class="font-weight-normal">
                                                <span>RUNTIME</span>
                                                <span class="ml-1">-h -m</span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>CVY 3</div>
                                            <div class="font-weight-normal">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-center">
                                    <vertical-line-component :arrow-down="true"></vertical-line-component>
                                    <circle-component label-right="D0203"></circle-component>
                                </div>

                                <div class="component">
                                    <div class="row">
                                        <div class="col-6">
                                            <div>CPR 4</div>
                                            <div class="font-weight-normal">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                            <div class="font-weight-normal">
                                                <span>RUNTIME</span>
                                                <span class="ml-1">-h -m</span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>CVY 4</div>
                                            <div class="font-weight-normal">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-center">
                                    <vertical-line-component :arrow-down="true"></vertical-line-component>
                                    <circle-component label-right="D0204"></circle-component>
                                </div>

                                <div class="component">
                                    <div class="row">
                                        <div class="col-6">
                                            <div>CPR 5</div>
                                            <div class="font-weight-normal">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                            <div class="font-weight-normal">
                                                <span>RUNTIME</span>
                                                <span class="ml-1">-h -m</span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>CVY 5</div>
                                            <div class="font-weight-normal">
                                                <span>SPEED</span>
                                                <span class="ml-1">0 Hz</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-center">
                                    <vertical-line-component :arrow-down="true"></vertical-line-component>
                                    <circle-component label-right="D0205"></circle-component>
                                </div>

                                <div class="component">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>Shredder</span>
                                            <span class="font-weight-normal ml-5">SHR1</span>
                                        </div>
                                        <div class="col-6">
                                            <div>
                                                <span>SPEED</span>
                                                <span class="font-weight-normal ml-1">0 Hz</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="ml-5">
                                    <vertical-line-component :arrow-down="true"></vertical-line-component>
                                </div>

                                <div class="d-flex align-items-center justify-content-between mt-n3">
                                    <div class="component shrink-1 grow-1 basis-0" style="width: 20rem">
                                        Final though
                                    </div>
                                    <div class="position-relative">
                                        <pump-component class="position-relative" style="padding: 0 8rem" label-top="CBP1" status="off">
                                            <horizontal-line-component class="position-absolute" style="left: -10%" width="12rem" :arrow-right="true"></horizontal-line-component>
                                            <horizontal-line-component class="position-absolute" style="left: 55%" width="12rem" :arrow-right="true"></horizontal-line-component>
                                        </pump-component>
                                    </div>
                                    <div class="component pr-5">
                                        Filling Station
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <vertical-line-component :arrow-down="true"></vertical-line-component>
                                </div>

                                <div class="d-flex align-items-center justify-content-end position-relative">
                                    <div>
                                        <img style="width: 80%; height: 7rem; position: absolute; left: 10%; top: -3.7rem;" class="connector" src="../../../assets/svg/dpnr/creeping/pump-to-final-though.svg">
                                    </div>
                                    <div class="position-relative">
                                        <pump-component label-top="BTP1" status="off"></pump-component>
                                    </div>

                                    <div class="d-flex" style="width: 46%;">
                                        <horizontal-line-component width="27rem" :arrow-left="true"></horizontal-line-component>
                                    </div>

                                    <div class="">
                                        <div class="component">
                                            <div>Return Buffer</div>
                                            <div><span class="font-weight-normal">FLS201</span> High</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Creeping End -->
            </div>

        </div>
    </div>
</template>

<script>
	import MaterialChartComponent from './MaterialChart'
	import TankComponent from '../../../components/productions/Tank'
	import PumpComponent from '../../../components/productions/Pump'
	import VerticalValveComponent from "../../../components/productions/VerticalValve";
	import TwoWayHorizontalValveComponent from "../../../components/productions/TwoWayHorizontalValve";
	import StirrerComponent from "../../../components/productions/Stirrer";
	import HorizontalLineComponent from "../../../components/productions/HorizontalLine";
	import LatexTankChartComponent from './LatexTankChart'
	import SteamCogulatorComponent from '../../../components/productions/SteamCogulator'
	import VerticalLineComponent from "../../../components/productions/VerticalLine";
	import CircleComponent from "../../../components/productions/Circle";

	export default {
		name: "dpnr-component",
		components: {
			'vertical-valve-component': VerticalValveComponent,
			'two-way-horizontal-valve-component': TwoWayHorizontalValveComponent,
			'material-chart-component': MaterialChartComponent,
			'tank-component': TankComponent,
			'pump-component': PumpComponent,
			'stirrer-component': StirrerComponent,
			'horizontal-line-component': HorizontalLineComponent,
			'latex-tank-chart-component': LatexTankChartComponent,
			'steam-cogulator-component': SteamCogulatorComponent,
			'vertical-line-component': VerticalLineComponent,
			'circle-component': CircleComponent,
		},
		data: function () {
			return {

			}
		},
		methods: {
		},
		mounted() {
		}
	};
</script>

<style scoped lang="scss">
    @import "../../../assets/styles/pages/productions/dpnr.scss";
</style>
