<template>
  <div>
    <p class="text-left">
      Enter your email to receive your password reset verification code
    </p>

    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(onForgotPassword)">
        <div class="mt-4">
          <ValidationProvider
            name="email"
            rules="required|email"
            v-slot="{ errors }"
          >
            <input
              v-model="email"
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
            />
            <div class="error-message">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="mt-4">
          <button type="submit" class="btn btn-fluid text-uppercase">
            Submit
          </button>
        </div>
      </form>
    </ValidationObserver>

    <div class="mt-4">
      <a
        href="#"
        class="text-uppercase"
        @click="switchComponent('ResetPasswordForm')"
        >I have password reset verification code</a
      >
    </div>

    <div class="mt-4">
      <a href="#" @click="switchComponent('LoginForm')"
        ><font-awesome-icon icon="chevron-left" /> Back to login</a
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "forgot-password-form-component",
  data() {
    return {
      email: ""
    };
  },
  methods: {
    /**
     * Send forgot password email to user email.
     */
    onForgotPassword() {
      this.swal({
        title: "Error!",
        text: "Something went wrong!",
        icon: "error",
        confirmButtonText: "OK"
      });
    },
    switchComponent(pageName) {
      this.$emit("switchComponent", pageName);
    }
  }
};
</script>
