<template>
  <div>
    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(onLogin)">
        <div class="mt-4">
          <ValidationProvider
            name="email"
            rules="required|email"
            v-slot="{ errors }"
          >
            <input
              v-model="email"
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
            />
            <div class="error-message">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="mt-4">
          <ValidationProvider
            name="password"
            rules="required"
            v-slot="{ errors }"
          >
            <input
              v-model="password"
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="Password"
            />
            <div class="error-message">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="mt-4">
          <button type="submit" class="btn btn-fluid text-uppercase">
            Login
          </button>
        </div>
      </form>
    </ValidationObserver>

    <div class="mt-4">
      <a href="#" @click="switchComponent('ForgotPasswordForm')"
        >Forget Password?</a
      >
    </div>
  </div>
</template>

<script>
export default {
  name: "login-form-component",
  components: {},
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    /**
     * Login user into application.
     */
    onLogin() {
      this.$swal({
        title: "Error!",
        text: "Something went wrong!",
        icon: "error",
        confirmButtonText: "OK"
      });
    },
    switchComponent(componentName) {
      this.$emit("switchComponent", componentName);
    }
  }
};
</script>
