<template>
  <div>
    <p class="text-left">
      Enter your email to receive your password reset verification code
    </p>

    <ValidationObserver v-slot="{ handleSubmit }">
      <form @submit.prevent="handleSubmit(onResetPassword)">
        <div class="mt-4">
          <ValidationProvider
            name="email"
            rules="required|email"
            v-slot="{ errors }"
          >
            <input
              v-model="email"
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Email"
            />
            <div class="error-message">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="mt-4">
          <ValidationProvider
            name="new passsword"
            rules="required"
            v-slot="{ errors }"
          >
            <input
              v-model="newPassword"
              type="password"
              class="form-control"
              id="new-password"
              name="new_password"
              placeholder="New Password"
            />
            <div class="error-message">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="mt-4">
          <ValidationProvider
            name="verification code"
            rules="required"
            v-slot="{ errors }"
          >
            <input
              v-model="verificationCode"
              type="text"
              class="form-control"
              id="verification-code"
              name="verification_code"
              placeholder="Verification Code"
            />
            <div class="error-message">{{ errors[0] }}</div>
          </ValidationProvider>
        </div>

        <div class="mt-4">
          <button type="submit" class="btn btn-fluid text-uppercase">
            Submit
          </button>
        </div>
      </form>
    </ValidationObserver>

    <div class="mt-4">
      <a href="#" @click="switchComponent('LoginForm')"
        ><font-awesome-icon :icon="chevronLeftIcon" /> Back to login</a
      >
    </div>
  </div>
</template>

<script>
// Fontawesome Icons
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faChevronLeft } from "@fortawesome/free-solid-svg-icons";

// Sweet Alert 2
import Swal from "sweetalert2";

// Vee Validate
import {
  ValidationObserver,
  ValidationProvider,
  extend,
  localize
} from "vee-validate";
import { required, email } from "vee-validate/dist/rules";
import en from "vee-validate/dist/locale/en.json";

// Vee validate rule and localization.
localize("en", en);
extend("email", email);
extend("required", required);

export default {
  name: "reset-password-form-component",
  components: {
    FontAwesomeIcon,
    ValidationObserver,
    ValidationProvider
  },
  data() {
    return {
      email: "",
      newPassword: "",
      verificationCode: "",
      chevronLeftIcon: faChevronLeft
    };
  },
  methods: {
    /**
     * Reset user password.
     */
    onResetPassword() {
      Swal.fire({
        title: "Error!",
        text: "Something went wrong!",
        icon: "error",
        confirmButtonText: "OK"
      });
    },
    switchComponent(componentName) {
      this.$emit("switchComponent", componentName);
    }
  }
};
</script>

<style scoped lang="scss">
@import "../../assets/styles/pages/authentication/auth.scss";
</style>
