<template>
    <div class="modal-backdrop" v-show="show">
        <div class="modal" :style="{ width: width, 'min-width': minWidth }">
            <div class="modal-header" v-if="$slots.header">
                <slot name="header"></slot>
                <button type="button" class="close center-y" data-dismiss="modal" @click="close">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body">
                <slot name="body"></slot>
            </div>
            <div class="modal-footer"  v-if="$slots.footer">
                <slot name="footer"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    	name: "modal-component",
        props: {
            width: {
	            type: String,
	            default: '20%'
            },
            minWidth: {
	            type: String,
	            default: '36rem'
            }
        },
	    data: function() {
		    return {
		    	show: false
		    };
	    },
        methods: {
	        open() {
		        this.$emit('open');
		        this.show = true;
	        },
	        close() {
		        this.$emit('close');
		        this.show = false;
	        }
        }
    }
</script>

<style lang="scss">
    @import "../../assets/styles/base/_modal";
</style>
