<template>
    <div id="enr-50">
    </div>
</template>

<script>
	export default {
		name: "enr-50-component",
	};
</script>

<style scoped lang="scss">
    @import "../../../assets/styles/pages/productions/enr50.scss";
</style>
