<template>
    <div class='tab-content' v-if='isActive' >
        <slot></slot>
    </div>
</template>

<script>
    export default {
    	name: 'tab-component',
	    props: {
		    title: {
			    type: String,
			    default: 'Tab'
		    },
		    name: {
			    type: String,
		    }
	    },
	    data () {
		    return {
			    isActive: false
		    }
	    }
    }
</script>


