<template>
    <div id="alert-logs" class="content">
        <div class="header">
            <h2>Alert Logs</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class='wrapper'>
                        <tabs>
                            <tab title="DPNR" name="dpnr">
                                <div class="mt-2 mb-3">
                                    <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <div class="mr-1">Show</div>
                                            <select class="per-page form-control mr-1">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="50">50</option>
                                            </select>
                                            <div>entries</div>
                                        </div>
                                        <div class="d-flex flex-column flex-md-row align-items-center search-box mt-3 mt-md-0">
                                            <div class="d-flex mb-4 mb-md-0 align-items-center justify-content-center justify-content-md-end">
                                                <div class="mr-3">Search:</div>
                                                <input type="text" v-model="searchText" class="form-control" @keyup.enter="doSearch" placeholder="">
                                            </div>

                                            <div class="d-flex">
                                                <button type="submit" class="btn btn-fluid text-uppercase btn-green btn-search" @click="doSearch">Search</button>
                                                <button type="submit" class="download btn btn-fluid text-uppercase btn-reset" @click="downloadToCSV">Download To CSV</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <vuetable @vuetable:loaded="hideLoadingOverlay" @vuetable:loading="showLoadingOverlay" ref="dpnrTable"
                                    data-path="data"
                                    pagination-path=""
                                    api-url="https://demo5892135.mockable.io/alert-logs/dpnr"
                                    :api-mode="true"
                                    :data="tableData"
                                    :fields="tableFields"
                                    :css="tableClass"
                                    :per-page="10"
                                    @vuetable:pagination-data="onPaginationData($event, 'Dpnr')"
                                ></vuetable>

                                <div class="pagination ui basic segment grid d-flex flex-column flex-md-row justify-content-between">
                                    <vuetable-pagination-info ref="paginationInfoDpnr"
                                    ></vuetable-pagination-info>

                                    <vuetable-pagination ref="paginationDpnr" class="mt-4 mt-md-0"
                                         @vuetable-pagination:change-page="onChangePage($event, 'dpnrTable')"
                                    ></vuetable-pagination>
                                </div>
                            </tab>
                            <tab title="ENR-25" name="enr25">
                                <search-bar></search-bar>
                                <vuetable @vuetable:loaded="hideLoadingOverlay" @vuetable:loading="showLoadingOverlay" ref="enr25Table"
                                      data-path="data"
                                      pagination-path=""
                                      api-url="https://demo5892135.mockable.io/alert-logs/enr25"
                                      :api-mode="true"
                                      :data="tableData"
                                      :fields="tableFields"
                                      :css="tableClass"
                                      :per-page="10"
                                      @vuetable:pagination-data="onPaginationData($event, 'Enr25')"
                                ></vuetable>

                                <div class="pagination ui basic segment grid">
                                    <vuetable-pagination-info ref="paginationInfoEnr25"></vuetable-pagination-info>

                                    <vuetable-pagination ref="paginationEnr25"
                                        @vuetable-pagination:change-page="onChangePage($event, 'enr25Table')"
                                    ></vuetable-pagination>
                                </div>
                            </tab>
                            <tab title="ENR-50" name="enr50">
                                <search-bar></search-bar>
                                <vuetable @vuetable:loaded="hideLoadingOverlay" @vuetable:loading="showLoadingOverlay" ref="enr50Table"
                                      data-path="data"
                                      pagination-path=""
                                      api-url="https://demo5892135.mockable.io/alert-logs/dpnr"
                                      :api-mode="true"
                                      :data="tableData"
                                      :fields="tableFields"
                                      :css="tableClass"
                                      :per-page="10"
                                      @vuetable:pagination-data="onPaginationData($event, 'Enr50')"
                                ></vuetable>

                                <div class="pagination ui basic segment grid">
                                    <vuetable-pagination-info ref="paginationInfoEnr50"
                                    ></vuetable-pagination-info>

                                    <vuetable-pagination ref="paginationEnr50"
                                        @vuetable-pagination:change-page="onChangePage($event, 'enr50Table')"
                                    ></vuetable-pagination>
                                </div>
                            </tab>
                            <tab title="Unresolved" name="unresolved">
                                <search-bar></search-bar>
                                <vuetable @vuetable:loaded="hideLoadingOverlay" @vuetable:loading="showLoadingOverlay" ref="unresolvedTable"
                                      data-path="data"
                                      pagination-path=""
                                      api-url="https://demo5892135.mockable.io/alert-logs/enr25"
                                      :api-mode="true"
                                      :data="tableData"
                                      :fields="tableFields"
                                      :css="tableClass"
                                      :per-page="10"
                                      @vuetable:pagination-data="onPaginationData($event, 'Unresolved')"
                                ></vuetable>

                                <div class="pagination ui basic segment grid">
                                    <vuetable-pagination-info ref="paginationInfoUnresolved"
                                    ></vuetable-pagination-info>

                                    <vuetable-pagination ref="paginationUnresolved"
                                         @vuetable-pagination:change-page="onChangePage($event, 'unresolvedTable')"
                                    ></vuetable-pagination>
                                </div>
                            </tab>
                        </tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Tabs from '../../components/tab/Tabs';
    import Tab from '../../components/tab/Tab';

    export default {
	    components: {
		    Tabs,
		    Tab,
	    },
	    data () {
		    return {
			    searchText: '',
			    tableClass: {
                    tableClass: 'ui striped table',
				    ascendingIcon: 'icon-down-open',
				    descendingIcon: 'icon-up-open',
				    sortableIcon: 'icon-sort',
                },
			    tableFields: [
				    {
					    name: 'production',
					    title: 'Production',
					    sortField: 'production'
				    },
				    {
					    name: 'message',
					    title: 'Message',
					    sortField: 'message'
				    },
				    {
					    name: 'machine',
					    title: 'Machine',
					    sortField: 'machine'
				    },
                    {
                        name: 'time',
                        title: 'Time',
	                    sortField: 'time'
                    },
                    {
                    	name: 'resolved_by',
                        title: 'Resolved By',
	                    sortField: 'resolved_by'
                    },
				    {
					    name: 'resolved_time',
					    title: 'Resolved Time',
					    sortField: 'resolved_time'
				    },
                ],
                tableData: []
		    }
	    },
	    methods: {
		    showLoadingOverlay() {
			    this.$JsLoadingOverlay.show({'spinnerIcon': 'ball-scale-multiple'});
            },
            hideLoadingOverlay() {
	            this.$JsLoadingOverlay.hide();
            },
		    onPaginationData(paginationData, type) {
			    this.$refs['pagination' + type].setPaginationData(paginationData);
			    this.$refs['paginationInfo' + type].setPaginationData(paginationData);
		    },
		    onChangePage(page, type) {
			    this.$refs[type].changePage(page);
		    },
		    doSearch () {

		    },
		    downloadToCSV () {
		    }
	    },
        mounted() {
        }
    }
</script>

<style scoped lang="scss">
    .per-page {
        width: 50%;
    }
    input[type=text] {
        width: 65%;
    }
    .btn {
        margin: 0 0 0 1rem;
        padding: 0.8rem 1rem;

        &.btn-search {
            background: $green;
        }
    }
</style>
