// Color
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #9e9e9e !default;
$gray-600: #727272 !default;
$gray-700: #4f5467 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$dark-blue: #041a35 !default;
$light-blue: #03a9f4 !default;
$blue: #2196f3 !default;
$indigo: #3f51b5 !default;
$purple: #9c27b0 !default;
$pink: #e46a76 !default;
$red: #ED4E1C !default;
$orange: #ff9800 !default;
$yellow: #ffeb3b !default;
$green: #4caf50 !default;
$teal: #009688 !default;
$cyan: #00bcd4 !default;
$navy: #1a237e !default;
$brown: #784f0c !default;


// Component color
$active: #7ed321 !default;
$inactive: #D8D8D8 !default;
$hot: #D0021B !default;
$water: #478DDE !default;
$stroke-color: #9e9e9e !default;
$line-color: #D8D8D8 !default;
$arrow-color: #D8D8D8 !default;
$circle-color: #9e9e9e !default;
$bg-tank: #ececec !default;
$bg-tank-level: #CD954A !default;

// Header
$header-height: 5.5rem;

// Sidebar
$sidebar-width: 30rem;
$sidebar-width-small: 5rem;
$sidebar-background: #3B5A82;

// Content
$content-height: 4rem;

// Border
$border-radius: 0.1rem !default;
$border-width: 0.1rem !default;
$border-color: $gray-400 !default;

/*-------------------
     Breakpoints
--------------------*/
$small-breakpoint: 576px !default;
$medium-breakpoint: 768px !default;
$large-breakpoint: 992px !default;
$extra-large-breakpoint: 1200px !default;

/* Responsive */
$largest-extra-small-screen: ($small-breakpoint - 1px);
$largest-small-screen: ($medium-breakpoint - 1px);
$largest-medium-screen: ($large-breakpoint - 1px);
$largest-large-screen: ($extra-large-breakpoint - 1px);

$gutter-width: 1rem;
$half-gutter-width: calc(#{$gutter-width} * 0.5);
$gutter-compensation: calc((#{$gutter-width} * 0.5) * -1);
$outer-margin: 2rem;

$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 1rem;
$spacing-4: 1.5rem;
$spacing-5: 3rem;
$spacing-n1: -0.25rem;
$spacing-n2: -0.5rem;
$spacing-n3: -1rem;
$spacing-n4: -1.5rem;
$spacing-n5: -3rem;



