<template>
    <div id="enr25-production" class="content">
        <!-- Apply manual mode modal -->
        <modal-component ref="manualModeModal" v-cloak>
            <template v-slot:header>
                Manual Mode
            </template>
            <template v-slot:body>
                <div class="mb-4">Full control will be enabled for 15 minutes.</div>
                <ValidationObserver ref="observer">
                    <ValidationProvider
                            name="access code"
                            rules="required"
                            v-slot="{ errors }"
                    >
                        <div class="row d-flex align-items-center">
                            <div class="col-5">
                                <div class="font-weight-600">Access code</div>
                            </div>
                            <div class="col-7">
                                <input style="width: 90%" type="text" v-model="accessCode" id="access_code"
                                       name="access_code" class="form-control" placeholder="Access code">
                            </div>
                        </div>
                        <div class="row d-flex">
                            <div class="col-12">
                                <div class="ml-4 error-message">{{ errors[0] }}</div>
                            </div>
                        </div>
                    </ValidationProvider>
                </ValidationObserver>
            </template>
            <template v-slot:footer>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="button" @click="onRequestAccessCode" class="btn btn-blue px-4 py-2" style="width: 10rem">Start</button>
                    <button type="button" @click="hideModal('manualModeModal')" class="btn btn-grey ml-4 px-4 py-2" style="width: 10rem">Cancel</button>
                </div>
            </template>
        </modal-component>
        <!-- End of apply manual mode modal -->

        <div class="header d-flex justify-content-between align-items-center">
            <h2>ENR-25</h2>
            <button type="button" class="btn btn-blue px-5 font-weight-700" v-if="mode === 'auto'" @click="showModal('manualModeModal')">Auto Mode</button>
            <button type="button" class="btn btn-orange px-5 font-weight-700" v-if="mode === 'manual'">Manual Mode</button>
        </div>
        <div class="container-fluid">
            <div class="row">
                <!-- Mixing Start -->
                <div class="col-4">
                    <div class="panel h-100">
                        <div class="panel-heading">
                            Coagulation
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <div class="w-100 active-state text-center font-weight-700 p-3 border">Fume Extractor <span class="font-weight-normal">ETF1</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-9 d-flex px-0 align-items-start">
                                        <pump-component class="position-relative mt-5" label-top="XCV101" label-bottom="70%" status="on">
                                            <horizontal-line-component :arrow-right="true" width="9rem" class="position-absolute"
                                               style="top: 30%; right: -190%"></horizontal-line-component>
                                        </pump-component>

                                        <div class="component mt-5 w-100" style="margin-left: 18%">
                                            <div class="row">
                                                <div class="col-8">
                                                    <div>Latex Tank <span class="font-weight-normal">LT105</span></div>
                                                </div>
                                                <div class="col-4">
                                                    82%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 d-flex justify-content-end">
                                        <div>
                                            <div class="d-flex">
                                                <vertical-line-component height="3rem" class="ml-n2"></vertical-line-component>
                                                <vertical-line-component height="3rem" class="ml-5"></vertical-line-component>
                                            </div>
                                            <div class="d-flex">
                                                <pump-component class="position-relative ml-5 mt-n3" label-bottom="FXP1" status="on">
                                                    <horizontal-line-component :arrow-left="true" width="4rem" class="position-absolute"
                                                       style="top: 13%; left: -72%"></horizontal-line-component>
                                                </pump-component>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-n3">
                                    <div class="col-12 d-flex flex-column align-items-center justify-content-center">
                                        <vertical-valve-component style="top: 100%" label-left="0%" label-right="XSV122"></vertical-valve-component>
                                        <steam-cogulator-component width="5rem" status="off"></steam-cogulator-component>
                                        <vertical-line-component :arrow-down="true" height="3rem" ></vertical-line-component>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="component">
                                            <div class="mb-1">Steam coagulator</div>
                                            <div class="row">
                                                <div class="col-3 text-right">
                                                    <div class="offset-5 col-7 px-0" style="font-size: 1rem">
                                                        <div class="font-weight-normal text-right">PV (barg)</div>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="font-weight-normal text-center" style="font-size: 1rem">SV (barg)</div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="font-weight-normal text-center" style="font-size: 1rem">Opening valve</div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="offset-5 col-7 px-0" style="font-size: 1rem">
                                                        <div class="font-weight-normal text-center">(barg)</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-3 d-flex">
                                                    <div class="col-7 px-0 px-0">
                                                        <div class="font-weight-normal text-left">PCV101</div>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <div class="text-left">3.0</div>
                                                    </div>
                                                </div>
                                                <div class="col-3 d-flex justify-content-center">
                                                    <div>3.0</div>
                                                </div>
                                                <div class="col-3 d-flex justify-content-center">
                                                    <div>100%</div>
                                                </div>
                                                <div class="col-3 d-flex">
                                                    <div class="col-7 px-0 px-0">
                                                        <div class="font-weight-normal text-left">PT101</div>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <div class="text-left">2.8</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-3 d-flex">
                                                    <div class="col-7 px-0 px-0">
                                                        <div class="font-weight-normal text-left">PCV102</div>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <div class="text-left">3.0</div>
                                                    </div>
                                                </div>
                                                <div class="col-3 d-flex justify-content-center">
                                                    <div>3.0</div>
                                                </div>
                                                <div class="col-3 d-flex justify-content-center">
                                                    <div>100%</div>
                                                </div>
                                                <div class="col-3 d-flex">
                                                    <div class="col-7 px-0 px-0">
                                                        <div class="font-weight-normal text-left">PT102</div>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <div class="text-left">2.8</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-3 d-flex">
                                                    <div class="col-7 px-0 px-0">
                                                        <div class="font-weight-normal text-left">PCV103</div>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <div class="text-left">3.0</div>
                                                    </div>
                                                </div>
                                                <div class="col-3 d-flex justify-content-center">
                                                    <div>3.0</div>
                                                </div>
                                                <div class="col-3 d-flex justify-content-center">
                                                    <div>100%</div>
                                                </div>
                                                <div class="col-3 d-flex">
                                                    <div class="col-7 px-0 px-0">
                                                        <div class="font-weight-normal text-left">PT103</div>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <div class="text-left">2.8</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-3 d-flex">
                                                    <div class="col-7 px-0 px-0">
                                                        <div class="font-weight-normal text-left">PCV104</div>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <div class="text-left">3.0</div>
                                                    </div>
                                                </div>
                                                <div class="col-3 d-flex justify-content-center">
                                                    <div>3.0</div>
                                                </div>
                                                <div class="col-3 d-flex justify-content-center">
                                                    <div>100%</div>
                                                </div>
                                                <div class="col-3 d-flex">
                                                    <div class="col-7 px-0 px-0">
                                                        <div class="font-weight-normal text-left">PT104</div>
                                                    </div>
                                                    <div class="col-5 px-0">
                                                        <div class="text-left">2.8</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <vertical-line-component height="3rem" :arrow-down="true" class="" style="top: 0"></vertical-line-component>
                                        </div>

                                        <div class="component">
                                            <div class="row">
                                                <div class="col-8">
                                                    <div>Vibrating Sleve
                                                        <span class="font-weight-normal">SNV1</span>
                                                    </div>
                                                </div>
                                                <div class="col-4 font-weight-normal">
                                                    ON
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-12">
                                        <latex-tank-chart-component></latex-tank-chart-component>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <steam-coagulator-chart-component></steam-coagulator-chart-component>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Mixing End -->

                <!-- Coagulation Start -->
                <div class="col-4">
                    <div class="panel h-100">
                        <div class="panel-heading">
                            Soaking
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex align-items-center">
                                            <div class="component font-weight-normal position-relative">CVY6
                                                <img class="position-absolute" style="top: 50%; right: 104%" src="../../../assets/svg/enr25/coagulation-to-soaking.svg">
                                            </div>
                                            <horizontal-line-component width="4rem"></horizontal-line-component>
                                            <div class="component">
                                                <div>Granulator</div>
                                                <div class="font-weight-normal">GNT1</div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="font-weight-normal">PV</div>
                                                        <div>10Hz</div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="font-weight-normal">SV</div>
                                                        <div>10Hz</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <horizontal-line-component  width="4rem"></horizontal-line-component>
                                            <div class="component">
                                                <div>Cooling trough</div>
                                                <div class="font-weight-normal">CVY7</div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="font-weight-normal">PV</div>
                                                        <div>10Hz</div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="font-weight-normal">SV</div>
                                                        <div>10Hz</div>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="font-weight-normal">Temp</div>
                                                        <div>10&deg;C</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6 d-flex justify-content-start">
                                        <two-way-horizontal-valve-component class="position-absolute" label-bottom="0%" label-top="TCV102" width="10rem"
                                            style="right: 48%; top: 67%;"></two-way-horizontal-valve-component>
                                        <vertical-line-component height="4rem" style="margin-left: 49%"></vertical-line-component>
                                    </div>
                                    <div class="col-6">
                                        <vertical-line-component height="19rem" class="position-absolute" style="top: 0"></vertical-line-component>
                                    </div>
                                </div>

                                <div class="row mt-n4">
                                    <div class="col-6">
                                        <div class="d-flex">
                                            <pump-component class="ml-3 mt-n3" label-left="HEP1" status="on">
                                            </pump-component>
                                        </div>
                                        <vertical-line-component height="5.2rem" style="margin-left: 2.2rem"></vertical-line-component>
                                        <pump-component class="ml-3 mt-n3" label-right="CCWP1" status="on"></pump-component>
                                        <vertical-line-component height="5.2rem" style="margin-left: 2.2rem"></vertical-line-component>
                                    </div>
                                    <div class="col-6">
                                        <div class="d-flex justify-content-end">
                                            <div class="component">
                                                <div>Soda Ash Tank</div>
                                                <div class="font-weight-normal">SSA1+</div>
                                                <div class="font-weight-normal">Speed</div>
                                                <div>20Hz</div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div>
                                                <pump-component class="mt-3 mr-5" label-right="PSP1" status="on"></pump-component>
                                                <vertical-line-component height="2rem" style="margin-left: 1.2rem"></vertical-line-component>
                                            </div>
                                            <div>
                                                <vertical-line-component height="2rem" style="margin-left: 1.2rem"></vertical-line-component>
                                                <pump-component class="mt-n3 mr-5" label-right="PSP2" status="on"></pump-component>
                                                <vertical-line-component height="2rem" style="margin-left: 1.2rem"></vertical-line-component>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-n1">
                                    <div class="col-5 pl-0">
                                        <div class="component">
                                            <div>Chilled Water Tank</div>
                                            <div class="font-weight-normal">LAL105 | LAH105</div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="font-weight-normal">Level</div>
                                                    <div>Low</div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="font-weight-normal">Temp</div>
                                                    <div>4&deg;C</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-7 px-0">
                                        <div class="component">
                                            <div>Soaking tank</div>
                                            <div class="row d-flex">
                                                <div class="col-3">
                                                    <div class="font-weight-normal">GNT1</div>
                                                    <div class="font-weight-normal">Level</div>
                                                    <div>Low</div>
                                                </div>
                                                <div class="col-3 d-flex flex-column justify-content-end">
                                                    <div class="font-weight-normal">Temp</div>
                                                    <div>4&deg;C</div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="font-weight-normal">pHT201</div>
                                                    <div class="font-weight-normal">Temp</div>
                                                    <div>4&deg;C</div>
                                                </div>
                                                <div class="col-3">
                                                    <div class="font-weight-normal">D0206</div>
                                                    <div class="font-weight-normal">Material</div>
                                                    <div>4&deg;C</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <vertical-line-component :arrow-down="true" height="3rem"></vertical-line-component>
                                        </div>

                                        <div class="component">
                                            <div>RBT1</div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="font-weight-normal">PV</div>
                                                    <div>10Hz</div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="font-weight-normal">SV</div>
                                                    <div>10Hz</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <vertical-line-component :arrow-down="true" height="3rem"></vertical-line-component>
                                        </div>

                                        <div class="component">
                                            <div>ETR1</div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="font-weight-normal">PV</div>
                                                    <div>10Hz</div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="font-weight-normal">SV</div>
                                                    <div>10Hz</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Coagulation End -->

                <!-- Soaking Start -->
                <div class="col-4">
                    <div class="panel h-100">
                        <div class="panel-heading">
                            Parameters
                        </div>
                        <div class="panel-body">
                            <div class="container px-0">
                                <div class="row">
                                    <div class="col-12">
                                        <accordion-component>
                                            <accordion-item-component>
                                                <template slot="header">
                                                    <h3>Coagulation</h3>
                                                </template>
                                                <template slot="content">
                                                    <table>
                                                        <thead>
                                                            <tr class="px-2">
                                                                <th>No.</th>
                                                                <th>Code</th>
                                                                <th class="text-left">Description</th>
                                                                <th>PV</th>
                                                                <th>SV</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="px-2" :class="{ 'edit-mode': parameter.editMode, 'readonly-mode': !parameter.editMode }" v-for="(parameter, index) in coagulationParameters" :key="index">
                                                                <td style="width: 10%">{{ index + 1 }}</td>
                                                                <td style="width: 15%">{{ parameter.code }}</td>
                                                                <td class="text-left" style="width: 30%">{{ parameter.name }}</td>
                                                                <td>
                                                                    <div class="d-flex justify-content-center align-items-center">
                                                                        <div v-if="!parameter.editMode">{{ parameter.pv ? parameter.pv : '-' }}</div>
                                                                        <input type="text" value="" v-else v-model="coagulationUpdateData[index].pv">
                                                                        <span v-if="parameter.editMode && parameter.unit">{{ parameter.unit}}</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex justify-content-center align-items-center">
                                                                        <div v-if="!parameter.editMode">{{ parameter.sv ? parameter.sv : '-' }}</div>
                                                                        <input type="text" value="" v-else v-model="coagulationUpdateData[index].sv">
                                                                        <span v-if="parameter.editMode && parameter.unit">{{ parameter.unit}}</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <p-check class="p-switch p-outline status-toggle" v-if="parameter.editMode" checked="parameter.status"
                                                                             v-model="coagulationUpdateData[index].status"></p-check>

                                                                    <font-awesome-icon v-else :class="{'on': parameter.status === 2, 'off': parameter.status === 1, 'trip': parameter.status === 0}" icon="circle"/>
                                                                </td>
                                                                <td>
                                                                    <div class="edit-btn" v-if="!parameter.editMode" @click="toggleModeForCoagulationParameters(index)">
                                                                        <font-awesome-icon icon="pencil-alt"/>
                                                                    </div>

                                                                    <div class="d-flex" v-if="parameter.editMode">
                                                                        <div class="save-btn mr-2" @click="saveCoagulationParameter(index)">
                                                                            <font-awesome-icon icon="save"/>
                                                                        </div>
                                                                        <div class="cancel-btn" @click="toggleModeForCoagulationParameters(index)">
                                                                            <font-awesome-icon icon="window-close"/>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </template>
                                            </accordion-item-component>

                                            <accordion-item-component>
                                                <template slot="header">
                                                    <h3>Soaking</h3>
                                                </template>
                                                <template slot="content">
                                                    <table>
                                                        <thead>
                                                        <tr class="px-2">
                                                            <th>No.</th>
                                                            <th>Code</th>
                                                            <th class="text-left">Description</th>
                                                            <th>PV</th>
                                                            <th>SV</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr class="px-2" :class="{ 'edit-mode': parameter.editMode, 'readonly-mode': !parameter.editMode }" v-for="(parameter, index) in soakingParameters" :key="index">
                                                            <td style="width: 5%">{{ index + 1 }}</td>
                                                            <td style="width: 15%">{{ parameter.code }}</td>
                                                            <td class="text-left" style="width: 30%">{{ parameter.name }}</td>
                                                            <td>
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <div v-if="!parameter.editMode">{{ parameter.pv ? parameter.pv : '-' }}</div>
                                                                    <input type="text" value="" v-else v-model="soakingUpdateData[index].pv">
                                                                    <span v-if="parameter.pv && parameter.unit">{{ parameter.unit}}</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                    <div v-if="!parameter.editMode">{{ parameter.sv ? parameter.sv : '-' }}</div>
                                                                    <input type="text" value="" v-else v-model="soakingUpdateData[index].sv">
                                                                    <span v-if="parameter.sv && parameter.unit">{{ parameter.unit}}</span>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <p-check class="p-switch p-outline status-toggle" v-if="parameter.editMode" checked="parameter.status"
                                                                     v-model="soakingUpdateData[index].status"></p-check>

                                                                <font-awesome-icon v-else :class="{'on': parameter.status === 2, 'off': parameter.status === 1, 'trip': parameter.status === 0}" icon="circle"/>
                                                            </td>
                                                            <td style="width: 10%">
                                                                <div class="edit-btn" v-if="!parameter.editMode" @click="toggleModeForSoakingParameters(index)">
                                                                    <font-awesome-icon icon="pencil-alt"/>
                                                                </div>

                                                                <div class="d-flex" v-if="parameter.editMode">
                                                                    <div class="save-btn mr-2" @click="saveSoakingParameter(index)">
                                                                        <font-awesome-icon icon="save"/>
                                                                    </div>
                                                                    <div class="cancel-btn" @click="toggleModeForSoakingParameters(index)">
                                                                        <font-awesome-icon icon="window-close"/>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </template>
                                            </accordion-item-component>
                                        </accordion-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Soaking End -->
            </div>
        </div>
    </div>
</template>

<script>
	import HorizontalLineComponent from "../../../components/productions/HorizontalLine";
	import VerticalLineComponent from "../../../components/productions/VerticalLine";
	import PumpComponent from "../../../components/productions/Pump";
	import TwoWayHorizontalValveComponent from "../../../components/productions/TwoWayHorizontalValve";
	import VerticalValveComponent from "../../../components/productions/VerticalValve";
	import SteamCogulatorComponent from '../../../components/productions/SteamCogulator'
	import LatexTankChartComponent from './LatexTankChart'
	import SteamCoagulatorChartComponent from './SteamCoagulatorChart'
	import AccordionComponent from '../../../components/accordion/Accordion'
	import AccordionItemComponent from '../../../components/accordion/AccordionItem'
	import ModalComponent from '../../../components/modal/Modal';
	let parameters = require('../../../assets/data/parameters.json');

	export default {
		name: "enr-25-component",
        components: {
	        'horizontal-line-component': HorizontalLineComponent,
	        'vertical-line-component': VerticalLineComponent,
	        'pump-component': PumpComponent,
	        'two-way-horizontal-valve-component': TwoWayHorizontalValveComponent,
	        'vertical-valve-component': VerticalValveComponent,
	        'steam-cogulator-component': SteamCogulatorComponent,
	        'latex-tank-chart-component': LatexTankChartComponent,
	        'steam-coagulator-chart-component': SteamCoagulatorChartComponent,
	        'accordion-component': AccordionComponent,
	        'accordion-item-component': AccordionItemComponent,
	        'modal-component': ModalComponent,
        },
		data () {
			return {
				mode: 'auto',
				accessCode: '',
				coagulationParameters: [],
				coagulationUpdateData: [],
				soakingParameters: [],
                soakingUpdateData: [],
			}
		},
        methods: {
	        /**
	         * Show modal.
	         *
	         * @param modalReference
	         */
	        showModal(modalReference) {
		        this.$refs[modalReference].open();
	        },

	        /**
	         * Hide modal.
	         *
	         * @param modalReference
	         */
	        hideModal(modalReference) {
		        this.$refs[modalReference].close();
	        },

	        /**
	         * Request access code from the API for manual mode.
	         */
	        async onRequestAccessCode() {
		        let validationPassed = await this.$refs.observer.validate();

		        if (!validationPassed) {
		        	return;
                }
		        this.mode = 'manual';

		        this.hideModal('manualModeModal');
	        },

	        /**
             * Get all parameter for coagulation and soaking from the API.
             *
	         * @returns {Promise<void>}
	         */
			getParameters: async function () {
				this.coagulationParameters = parameters.enr.coagulation;
		        this.coagulationParameters.forEach(parameter => {
			        this.$set(parameter, 'editMode', false);
			        this.$set(parameter, 'status', parameter.status)
		        });

		        this.soakingParameters = parameters.enr.soaking;
		        this.soakingParameters.forEach(parameter => {
			        this.$set(parameter, 'editMode', false);
			        this.$set(parameter, 'status', parameter.status)
		        });
            },

	        /**
             * Toggle mode between read only and edit mode for coagulation parameters.
             *
	         * @param index
	         */
	        toggleModeForCoagulationParameters(index) {
		        if (typeof this.coagulationParameters[index] === 'undefined') {
			        return;
		        }

		        this.coagulationParameters.map(function(parameter, index1) {
			        if (index != index1) {
				        parameter.editMode = false;
				        return parameter
			        }
		        });

		        // Remove update data if user cancel edit mode.
		        let parameter = this.coagulationParameters[index];

		        if (this.coagulationParameters[index].editMode === true) {
			        parameter.editMode = false;

			        // Remove update data if user cancel edit mode.
			        this.coagulationUpdateData.splice(index, 1);
		        } else {
			        parameter.editMode = true;

			        this.coagulationUpdateData = [];

			        // Status = 0 - Trip, 1 - Off, 2 - On
			        let status = this.coagulationParameters[index].status > 1;

			        // Push empty data into update data array when user enable edit mode.
			        this.coagulationUpdateData[index] = {
				        "code": this.coagulationParameters[index].code,
				        'pv': this.coagulationParameters[index].pv,
				        'sv': this.coagulationParameters[index].sv,
				        'status': status,
			        };
		        }

		        this.$set(this.coagulationParameters, index, parameter);
	        },

	        /**
	         * Save updated data for coagulation parameter.
	         *
	         * @param index
	         */
	        saveCoagulationParameter(index) {
		        // Need to request API to save.
		        console.log('Updated data', this.coagulationUpdateData[index]);

		        let validationFailed = false;
		        let errorMessage = '';

		        if (!this.coagulationUpdateData[index].pv) {
			        validationFailed = true;
			        errorMessage = 'PV value is required'
		        }

		        if (!this.coagulationUpdateData[index].sv) {
			        validationFailed = true;
			        errorMessage = 'SV value is required'
		        }

		        if (validationFailed) {
			        this.$swal({
				        title: "Error!",
				        text: errorMessage,
				        icon: "error",
				        confirmButtonText: "OK"
			        });

			        return;
		        }

		        this.$swal({
			        title: "Sucess",
			        html: "<div>Successfully updated the coagulation parameter " + this.coagulationUpdateData[index].code + ".</div><div>" + JSON.stringify(this.coagulationUpdateData[index]) + "</div>",
			        icon: "success",
			        confirmButtonText: "OK"
		        });

		        // Status = 0 - Trip, 1 - Off, 2 - On
		        // If checkbox has been checked, set status to 'On'.
		        // Otherwise set status to 'Off'.
		        let status = this.coagulationUpdateData[index].status ? 2 : 1;

		        // Disable edit mode.
		        this.coagulationParameters[index].editMode = false;
		        this.coagulationParameters[index].pv = this.coagulationUpdateData[index].pv;
		        this.coagulationParameters[index].sv = this.coagulationUpdateData[index].sv;
		        this.coagulationParameters[index].status = status;

		        // Remove update data after successfully save.
		        this.coagulationUpdateData.splice(index, 1);
	        },

	        /**
             * Toggle mode between read only and edit mode for soaking parameters.
             *
	         * @param index
	         */
	        toggleModeForSoakingParameters(index) {
				if (typeof this.soakingParameters[index] === 'undefined') {
					return;
                }

		        this.soakingParameters.map(function(parameter, index1) {
		        	if (index != index1) {
				        parameter.editMode = false;
				        return parameter
                    }
		        });

		        // Remove update data if user cancel edit mode.
	            let parameter = this.soakingParameters[index];

		        if (this.soakingParameters[index].editMode === true) {
			        parameter.editMode = false;

			        // Remove update data if user cancel edit mode.
			        this.soakingUpdateData.splice(index, 1);
		        } else {
			        parameter.editMode = true;

                    this.soakingUpdateData = [];

			        // Status = 0 - Trip, 1 - Off, 2 - On
			        let status = this.soakingParameters[index].status > 1;

			        // Push empty data into update data array when user enable edit mode.
			        this.soakingUpdateData[index] = {
				        "code": this.soakingParameters[index].code,
				        'pv': this.soakingParameters[index].pv,
				        'sv': this.soakingParameters[index].sv,
				        'status': status,
                    };
		        }

	            this.$set(this.soakingParameters, index, parameter);
            },

	        /**
             * Save updated data for soaking parameter.
             *
	         * @param index
	         */
            saveSoakingParameter(index) {
                // Need to request API to save.
                console.log('Updated data', this.soakingUpdateData[index]);

                let validationFailed = false;
                let errorMessage = '';

                if (!this.soakingUpdateData[index].pv) {
                    validationFailed = true;
	                errorMessage = 'PV value is required'
                }

		        if (!this.soakingUpdateData[index].sv) {
			        validationFailed = true;
			        errorMessage = 'SV value is required'
		        }

		        if (validationFailed) {
			        this.$swal({
				        title: "Error!",
				        text: errorMessage,
				        icon: "error",
				        confirmButtonText: "OK"
			        });

		        	return;
                }

		        this.$swal({
			        title: "Sucess",
			        html: "<div>Successfully updated the soaking parameter " + this.soakingUpdateData[index].code + ".</div><div>" + JSON.stringify(this.soakingUpdateData[index]) + "</div>",
			        icon: "success",
			        confirmButtonText: "OK"
		        });

		        // Status = 0 - Trip, 1 - Off, 2 - On
		        // If checkbox has been checked, set status to 'On'.
		        // Otherwise set status to 'Off'.
		        let status = this.soakingUpdateData[index].status ? 2 : 1;

		        // Disable edit mode.
		        this.soakingParameters[index].editMode = false;
		        this.soakingParameters[index].pv = this.soakingUpdateData[index].pv;
		        this.soakingParameters[index].sv = this.soakingUpdateData[index].sv;
		        this.soakingParameters[index].status = status;

		        // Remove update data after successfully save.
		        this.soakingUpdateData.splice(index, 1);
            }
        },
        mounted() {
            this.getParameters();
        }
	};
</script>

<style scoped lang="scss">
    @import "../../../assets/styles/pages/productions/enr25.scss";
</style>
