<template>
    <div id="header">
        <div class="d-flex align-items-center">
            <div class="logo-wrapper d-flex align-items-center">
                <img class="logo" src="../../assets/img/lgm_logo.png">
                <div class="ml-3 text-white d-md-block d-none">Lembaga Getah Malaysia</div>
            </div>
            <font-awesome-icon class="header-icon sidebar-toggle" icon="bars" />
            <div class="d-flex align-items-center">
                <!-- Start Of Notification Badge -->
                <router-link class="d-flex align-items-center position-relative" to="/dashboard/alert-logs">
                    <div class="position-relative">
                        <font-awesome-icon class="alert-icon" icon="bell"/>
                        <span class="count-info text-white bg-red">8</span>
                    </div>
                    <p class="d-none d-sm-block text-white pl-4 mr-5">You have 2 active alerts</p>
                </router-link>
                <!-- End Of Notification Badge -->

                <!-- Preparation Start Button -->
                <div class="position-relative d-none d-xl-block">
                    <p class="text-white py-2 pl-2 v-line ml-5">Preparation</p>
                </div>
                <button type="button" class="btn btn-white mx-5 px-5 py-2 font-weight-500 d-none d-xl-block" @click="showModal('preparationModal')">{{ startedPreparationProcessType }}</button>
                <!-- End Of Preparation Start Button -->

                <!-- Production Start Button -->
                <div class="position-relative d-none d-xl-block">
                    <p class="text-white py-2 pl-2 v-line ml-5">Production</p>
                </div>
                <button type="button" class="btn btn-white ml-5 px-5 py-2 font-weight-500 d-none d-xl-block" @click="showModal('productionModal')">{{ startedProductionProcessType }}</button>
                <!-- End Of Production Start Button -->
            </div>
        </div>
        <div class="d-flex align-items-center">
            <font-awesome-icon class="warning-icon blinking" icon="exclamation-triangle" @click="showModal('startSequenceModal')"/>

<!--            <img class="warning-icon blinking" src="../../assets/img/warning-icon.png" @click="showModal('startSequenceModal')">-->
            <img class="ml-5 tanand-logo" src="../../assets/img/tanand_header.png">
        </div>

        <!-- Start start preparation modal -->
        <modal-component id="preparation-modal" ref="preparationModal" v-cloak @close="selectedPreparationProcessType = 'N/A'">
            <template v-slot:header>
                Start Process
            </template>
            <template v-slot:body>
                <div class="process-type">
                    <div v-for="processType in processTypes" :key="processType" @click="setPreparationProcessType(processType)">
                        <span>{{ processType }}</span>
                        <span v-if="selectedPreparationProcessType === processType">
                            <font-awesome-icon class="check-square-icon" icon="check-square"/>
                        </span>
                    </div>
                </div>
                <div class="error-message text-center mt-3" v-if="showPreparationError">{{ preparationErrorMessage }}</div>
            </template>
            <template v-slot:footer>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="button" @click="startPreparationProcess" class="btn btn-blue px-4 py-2" style="width: 10rem">Start</button>
                    <button type="button" @click="selectedPreparationProcessType = 'N/A'; hideModal('preparationModal')" class="btn btn-grey ml-4 px-4 py-2" style="width: 10rem">Cancel</button>
                </div>
            </template>
        </modal-component>
        <!-- End of start preparation modal -->

        <!-- Start start production modal -->
        <modal-component id="production-modal" ref="productionModal" v-cloak @close="selectedProductionProcessType = 'N/A'">
            <template v-slot:header>
                Start Process
            </template>
            <template v-slot:body>
                <div class="process-type">
                    <div v-for="processType in processTypes" :key="processType" @click="setProductionProcessType(processType)">
                        <span>{{ processType }}</span>
                        <span v-if="selectedProductionProcessType === processType">
                            <font-awesome-icon class="check-square-icon" icon="check-square"/>
                        </span>
                    </div>
                </div>
                <div class="error-message text-center mt-3" v-if="showProductionError">{{ productionErrorMessage }}</div>
            </template>
            <template v-slot:footer>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="button" @click="startProductionProcess" class="btn btn-blue px-4 py-2" style="width: 10rem">Start</button>
                    <button type="button" @click="hideModal('productionModal')" class="btn btn-grey ml-4 px-4 py-2" style="width: 10rem">Cancel</button>
                </div>
            </template>
        </modal-component>
        <!-- End of start production modal -->

        <!-- Start sequence modal -->
        <modal-component ref="startSequenceModal" v-cloak>
            <template v-slot:header>
                Start Sequence
            </template>
            <template v-slot:body>
                <font-awesome-icon class="warning-icon" style="font-size: 7rem" icon="exclamation-triangle"/>
                <div class="mt-4 font-weight-500">Start Batch Controller</div>
            </template>
            <template v-slot:footer>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="button" @click="startSequence" class="btn btn-blue px-4 py-2" style="width: 10rem">Start</button>
                    <button type="button" @click="hideModal('startSequenceModal')" class="btn btn-grey ml-4 px-4 py-2" style="width: 10rem">Cancel</button>
                </div>
            </template>
        </modal-component>
        <!-- End of start sequence modal -->
    </div>
</template>

<script>
    // Toggle sidebar.
	import { toggleSidebar } from '../../utils/sidebar.js';
    import ModalComponent from '../../components/modal/Modal';

	export default {
		name: "header-component",
		components: {
			ModalComponent,
		},
		data () {
			return {
				accessCode: '',
                processTypes: [
                	'DPNR',
                	'ENR-25',
                	'ENR-50'
                ],
				startedPreparationProcessType: 'N/A',
                selectedPreparationProcessType: '',
				showPreparationError: false,
				preparationErrorMessage: '',
				startedProductionProcessType: 'N/A',
				selectedProductionProcessType: 'N/A',
				showProductionError: false,
                productionErrorMessage: ''
			}
		},
		methods: {
			/**
             * Show modal.
             *
			 * @param modalReference
			 */
			showModal(modalReference) {
				this.$refs[modalReference].show = true;
            },

			/**
             * Hide modal.
             *
			 * @param modalReference
			 */
			hideModal(modalReference) {
				this.$refs[modalReference].show = false;
			},

			/**
			 * Set selected preparation process type.
			 *
			 * @param processType
			 */
			setPreparationProcessType(processType) {
				this.showPreparationError = false;

				this.selectedPreparationProcessType = processType;
			},

			/**
			 * Start preparation process.
			 */
            startPreparationProcess() {
				if (this.selectedPreparationProcessType === 'N/A') {
					this.preparationErrorMessage = 'Please select one of the process.';
					this.showPreparationError = true;
					return;
				}

				if (this.selectedPreparationProcessType === this.selectedProductionProcessType) {
					this.preparationErrorMessage = 'Cannot start preparation for ' + this.selectedPreparationProcessType + ' while production is running.';
					this.showPreparationError = true;
					return;
				}

				this.startedPreparationProcessType = this.selectedPreparationProcessType;
				this.selectedPreparationProcessType = '';

				this.hideModal('preparationModal');
            },

			/**
			 * Set selected production process type.
			 *
			 * @param processType
			 */
			setProductionProcessType(processType) {
				this.showProductionError = false;

				this.selectedProductionProcessType = processType;
			},

			/**
			 * Start production process.
			 */
			startProductionProcess() {
				if (this.selectedProductionProcessType === 'N/A') {
					this.productionErrorMessage = 'Please select one of the process.';
					this.showProductionError = true;
					return;
				}

				if (this.selectedPreparationProcessType === this.selectedProductionProcessType) {
					this.productionErrorMessage = 'Cannot start production for ' + this.selectedPreparationProcessType + ' while preparation is running.';
					this.showProductionError = true;
					return;
                }

				this.startedProductionProcessType = this.selectedProductionProcessType;
				this.selectedProductionProcessType = '';

				this.hideModal('productionModal');
			},

			/**
			 * Start sequence.
			 */
			startSequence() {
				this.hideModal('startSequenceModal');
			},
		},
        mounted() {
	        toggleSidebar();
        }
	};
</script>

<style scoped lang="scss">
    @import "../../assets/styles/layouts/header.scss";
</style>
