<template>
    <div id="sidebar">
        <ul id="metismenu">
            <li class="">
                <a class="has-arrow" href="#" aria-expanded="false">
                    <div class="mark-active">&nbsp;</div>
                    <font-awesome-icon class="sidebar-icon" icon="flask"/>
                    <span>Preparations</span>
                </a>
                <ul>
                    <li>
                        <router-link to="/dashboard/preparations/dpnr">DPNR</router-link>
                    </li>
                    <li>
                        <router-link to="/dashboard/preparations/enr-25">ENR-25</router-link>
                    </li>
                    <li>
                        <router-link to="/dashboard/preparations/enr-50">ENR-50</router-link>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="#">
                    <div class="mark-active">&nbsp;</div>
                    <font-awesome-icon class="sidebar-icon" icon="industry"/>
                    <span>Productions</span>
                </a>
                <ul>
                    <li>
                        <router-link to="/dashboard/productions/dpnr">DPNR</router-link>
                    </li>
                    <li>
                        <router-link to="/dashboard/productions/enr-25">ENR-25</router-link>
                    </li>
                    <li>
                        <router-link to="/dashboard/productions/enr-50">ENR-50</router-link>
                    </li>
                </ul>
            </li>
            <li>
                <div class="mark-active">&nbsp;</div>
                <router-link to="/dashboard/tanks" aria-expanded="true">
                    <font-awesome-icon class="sidebar-icon" icon="water"/>
                    <span>Tanks</span>
                </router-link>
            </li>
            <li>
                <div class="mark-active">&nbsp;</div>
                <router-link to="/dashboard/alert-logs" aria-expanded="true">
                    <font-awesome-icon class="sidebar-icon" icon="bell"/>
                    <span>Alert logs</span>
                </router-link>
            </li>
            <li>
                <div class="mark-active">&nbsp;</div>
                <router-link to="/dashboard/reports" aria-expanded="true">
                    <font-awesome-icon class="sidebar-icon" icon="file-contract"/>
                    <span>Reports</span>
                </router-link>
            </li>
            <li>
                <div class="mark-active">&nbsp;</div>
                <router-link to="/dashboard/settings" aria-expanded="true">
                    <font-awesome-icon class="sidebar-icon" icon="cog"/>
                    <span>Settings</span>
                </router-link>
            </li>
            <li>
                <div class="mark-active">&nbsp;</div>
                <router-link to="/dashboard/logout" aria-expanded="true">
                    <font-awesome-icon class="sidebar-icon" icon="sign-out-alt"/>
                    <span>Logout</span>
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>
	// Init sidebar.
	import { initializeSidebarMenu } from '../../utils/sidebar.js';

	export default {
		name: "sidebar-component",
		components: {
		},
		data () {
			return {};
		},
		methods: {
		},
		mounted() {
			initializeSidebarMenu();
		}
	};
</script>

<style scoped lang="scss">
    @import "../../assets/styles/layouts/sidebar.scss";
</style>
