<template>
    <div class="accordion-item">
        <div class="accordion-header"
            :class="{'active': visible}"
            @click="open">

            <slot name="header"></slot>
            <font-awesome-icon icon="plus" v-if="!visible"/>
            <font-awesome-icon icon="minus" v-if="visible"/>
        </div>

        <transition
                name="accordion"
                @enter="start"
                @after-enter="end"
                @before-leave="start"
                @after-leave="end">

            <div class="accordion-content" v-show="visible">
                <slot name="content"></slot>
            </div>
        </transition>
    </div>
</template>


<script>
	export default {
		props: {

        },
		inject: ["Accordion"],
		data() {
			return {
				index: null
			};
		},
		computed: {
			visible() {
				return this.index == this.Accordion.active;
			}
		},
		methods: {
			open() {
				if (this.visible) {
					this.Accordion.active = null;
				} else {
					this.Accordion.active = this.index;
				}
			},
			start(el) {
				el.style.height = el.scrollHeight + "px";
			},
			end(el) {
				el.style.height = "";
			}
		},
		created() {
			this.Accordion.active = 0;
			this.index = this.Accordion.count++;
		}
	};
</script>

<style lang="scss">
    @import "../../assets/styles/base/_accordion";
</style>
