<template>
    <div id="tanks" class="content">
        <div class="header">
            <h2>Tanks</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <!-- Reactor Starts -->
                <div class="col-md-4 mt-5 mt-md-0">
                    <div class="panel h-100">
                        <div class="panel-heading">Reactor</div>
                        <div class="panel-body">
                            <div class="d-flex justify-content-sm-center justify-content-end">
                                <tank-component class="position-relative" width="20rem" height="25rem" status="on" :font-size="14" value="50">
                                    <two-way-horizontal-valve-component position="left" style="top: 9%; left: -16%" class="position-absolute mb-1" width="8rem" label-top="TCV102"></two-way-horizontal-valve-component>
                                    <two-way-horizontal-valve-component position="left" style="top: 28.5%; left: -16%" class="position-absolute mb-1" width="8rem" label-top="TCV103"></two-way-horizontal-valve-component>
                                    <two-way-horizontal-valve-component position="left" style="top: 46.5%; left: -16%" class="position-absolute mb-1" width="8rem" label-top="TCV104"></two-way-horizontal-valve-component>
                                    <two-way-horizontal-valve-component position="left" style="top: 65%; left: -16%" class="position-absolute mb-1" width="8rem" label-top="TCV105"></two-way-horizontal-valve-component>
                                </tank-component>
                            </div>

                            <div class="container mt-5 px-0">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="panel h-100">
                                            <div class="panel-heading">
                                                Overview
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-6">Batch No.</div>
                                                    <div class="col-6 font-weight-bold">5</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Load cell</div>
                                                    <div class="col-6 font-weight-bold">1200 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Time elapse</div>
                                                    <div class="col-6 font-weight-bold">3h 32m</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">PHT101</div>
                                                    <div class="col-6 font-weight-bold">7.0 pH</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">RCT101</div>
                                                    <div class="col-6 font-weight-bold">30 Hz</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                Material breakdown
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-6">Formid Acid</div>
                                                    <div class="col-6 font-weight-bold">200 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Tetric acid</div>
                                                    <div class="col-6 font-weight-bold">250 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Ammonia</div>
                                                    <div class="col-6 font-weight-bold">250 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Peroxide</div>
                                                    <div class="col-6 font-weight-bold">450 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Latex</div>
                                                    <div class="col-6 font-weight-bold">40 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Water</div>
                                                    <div class="col-6 font-weight-bold">10 KG</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container mt-4">
                                <div class="row">
                                    <div class="col-12">
                                        <reactor-material-chart-component></reactor-material-chart-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Reactor End -->

                <!-- Mixing Starts -->
                <div class="col-md-4 mt-5 mt-md-0">
                    <div class="panel h-100">
                        <div class="panel-heading">Mixing</div>
                        <div class="panel-body">
                            <div class="flex-center">
                                <tank-component class="position-relative" width="20rem" height="25rem" status="on" :font-size="16" value="50"></tank-component>
                            </div>

                            <div class="container mt-5 px-0">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                Overview
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-6">Batch No.</div>
                                                    <div class="col-6 font-weight-bold">5</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Load cell</div>
                                                    <div class="col-6 font-weight-bold">1200 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Time elapse</div>
                                                    <div class="col-6 font-weight-bold">3h 32m</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">PHT102</div>
                                                    <div class="col-6 font-weight-bold">7.0 pH</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">RCT102</div>
                                                    <div class="col-6 font-weight-bold">30 Hz</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                Material breakdown
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-6">Enzyme</div>
                                                    <div class="col-6 font-weight-bold">200 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">HNS</div>
                                                    <div class="col-6 font-weight-bold">250 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Tetric Acid</div>
                                                    <div class="col-6 font-weight-bold">250 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Latex</div>
                                                    <div class="col-6 font-weight-bold">450 KG</div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-6">Water</div>
                                                    <div class="col-6 font-weight-bold">50 KG</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-12">
                                        <mixing-material-chart-component></mixing-material-chart-component>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mixing End -->

                <!-- Storage Start -->
                <div class="col-md-4 mt-5 mt-md-0">
                    <div class="panel h-100">
                        <div class="panel-heading">Storage</div>
                        <div class="panel-body">
                            <div class="flex-center">
                                <tank-component class="position-relative" width="20rem" height="25rem" status="on" :font-size="16" value="50"></tank-component>
                            </div>

                            <div class="container">
                                <div class="row mt-5 component">
                                    <div class="col-6">
                                        <div>RCT103</div>

                                        <div class="row">
                                            <div class="col-4">
                                                <div class="font-weight-normal">Status</div>
                                                <div class="font-weight-normal">PV</div>
                                            </div>
                                            <div class="col-8">
                                                <div class="font-weight-normal">ON</div>
                                                <div class="font-weight-normal">50 Hz</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex align-items-end justify-content-between">
                                        <div class="font-weight-normal">SV</div>
                                        <div class="font-weight-normal">50Hz</div>
                                    </div>
                                </div>

                                <div class="row mt-4 component">
                                    <div class="col-6">
                                        <div>LT103</div>

                                        <div class="row">
                                            <div class="col-4">
                                                <div class="font-weight-normal">Level</div>
                                            </div>
                                            <div class="col-8">
                                                <div class="font-weight-normal">73%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Storage End -->
            </div>

        </div>
    </div>
</template>

<script>
	import Tank from '../../components/productions/Tank'
	import TwoWayHorizontalValveComponent from '../../components/productions/TwoWayHorizontalValve'
	import MixingMaterialChart from './MixingMaterialChart'
	import ReactorMaterialChart from './ReactorMaterialChart'

	export default {
    	name: 'tanks-component',
        components: {
    		'tank-component': Tank,
    		'two-way-horizontal-valve-component': TwoWayHorizontalValveComponent,
	        'mixing-material-chart-component': MixingMaterialChart,
	        'reactor-material-chart-component': ReactorMaterialChart
        }
    }
</script>

<style lang="scss">
    @import "../../assets/styles/pages/tanks/tanks.scss";
</style>
